.back_in_stock_subscribe
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

input.back_in_stock_email {
    flex: 1;
    border: 1px solid black;
    height: 35px;
}

.back_in_stock_subscribe a {
    background: #000;
    color: #FFF;
    height: 35px;
    padding: 5px 12px;
}

input.back_in_stock_email::placeholder {
    font-size: 12px
}
