/*
Theme Name: Getraffic Master Theme
Author: Yaniv Tabibi
Author URI: https://www.yanivt.com
Description: A parent theme to be inherited in e-commerce websites
Version: 1.0
*/

*, html, body {
    font-family: 'Heebo', 'Varela Round', sans-serif;
    font-size: 18px;
}

*{
    min-height: 0;
    min-width: 0;
}


*:focus {
    outline: 0;
}

@font-face {
    font-family: PrangsBlack;
    src: url('assets/fonts/prangs/Prangs-Black.otf') format("opentype");
}

.ltr {
    direction: ltr;
    display: block;
}

.rtl {
    direction: rtl;
}

.footer {
    color: #FFF;
    text-align: center;
    background-color: #000;
}
.padmenot {
    padding: 0 !important;
    /*position: relative;*/
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.footer .widget {
    margin: 20px 0;
}

h1.sh-title {
    text-align: center;
    margin: auto;
    font-size: 72px;
    font-family: 'Heebo', 'Varela Round', sans-serif;
    font-weight: 200;
    z-index: 1;
    padding: 20px;
    margin-bottom: 45px;
    width: 100%;
}

h1.sh-title sub {
    font-family: 'PrangsBlack', 'Heebo', 'Varela Round', sans-serif !important;

    font-size: 100px;
    margin-right: -40px;
    z-index: -1;
    bottom: -40px;
}

.aligncenter {
    text-align: center;
}

h1.sh-title.smaller {
    font-size: 46px;
    width: initial;
    text-align: right;
    display: inline-block;
}

h1.sh-title.smaller sub {
    font-size: 78px;
    bottom: -42px;
}

.cat img {
    width: 100%;
    transition: all .5s;
    max-width: 100%;
    overflow: hidden;
}
.cat:hover img {
    transform: scale(1.14);
    transition: all .5s;
    z-index: 0;
}
.location-contact {
    width: 800px;
    margin: auto;
    padding: 25px;
}

.location-contact .wpcf7-form-control.wpcf7-submit {
    float: left;
    font-size: 22px;
}

#yith-par-message-reward-cart {
    display: none !important;
}

.excerpt-left, .excerpt-right {
    padding: 40px 60px 0 0;
}
.excerpt-right {
    background-image: url(assets/images/bg_excerpt.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.excerpt-left a.readon {
    float: left;
    border: 0;
    background-color: #19c8ee;
    padding: 7px 25px;
    font-weight: 100;
    border-radius: 15px;
    color: #FFF;
}

.img-white-border {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    max-height: 206px;
}
.hidden {
    display: none;
}
.img-white-border .theborder, .img-white-border .bg {
    position: absolute;
    left: -20px;
    right: 20px;
    top: 20px;
    bottom: -20px;
}
.img-white-border .theborder {
    border: 1px solid #FFF;
    z-index: 999;
}
.img-white-border .bg {
    background-color: #ececec;
    z-index: -1;
}

.cat {
    margin-bottom: 25px;
    width: 280px;
    display: inline-block;
}
.sub-categories {
    padding: 30px 30px;
    text-align: center;
    width: 100%;
}
.cat h2.title {
    color: black;
    margin-top: 25px;
    font-weight: 300;
    text-align: center;
    font-size: 22px;
}

.cat h2.title:hover {
    text-decoration: none;
}
a {
    color:#000;
}
nav.woocommerce-breadcrumb {
    display: inline-block;
    width: 100%;
}
nav.woocommerce-breadcrumb a:hover {
    font-weight: bold;
}

.cat-bg-image {
    width: 100%;
}

/** Products **/
div.products {
    margin-bottom: 50px;
}
div.products .product {
    position: relative;
    border: 3px solid white;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
    max-width: initial;
    max-height: 475px;
    text-align: center;
}
div.products .product:hover{
    filter: none !important;
    transition: 0.4s;
}
div.products .product img.thumb {
    height: 100%;
    min-width: 100%;
    transition: 0.4s;
}
div.products .product span.title {
    position: absolute;
    background: rgb(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    color: #000;
    text-align: center;
    padding: 8px;
}
.product img.available {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
}
.product.available img.available {
    display: block;
}
div.products .product:hover img.thumb {
    transform: scale(1.2);
    transition: 0.4s;
}


/** Product **/
.social-icons {

}

.social-icons .social {
    float: left;
    margin: 3px;
}

.product_title.entry-title {
    font-weight: 100;
    font-size: 45px;
}

.old-price span.amount {
    text-decoration: line-through;
}
.new-price span.amount {
    text-decoration: unset;
    text-decoration-style: unset;
}

form.cart::after {
    content: ' ';
    clear: both;
}
div.product img.wp-post-image {
    width: 100%;
    height: auto;
}
.woocommerce-product-gallery__image {

}
.gallery-thumbnails-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.gallery-thumbnails {
    display: flex;
    justify-content: space-around;
}

.gallery-thumbnails img {
    margin: 0 5px 0 5px;
}
div.grey-title {
    background-color: #f2edea;
    padding: 15px;
    font-size: 19px;
    margin-top: 25px;
}
.ekko-lightbox-nav-overlay a:last-child span {
    text-align: left !important;
}
.ekko-lightbox button.close {
    position: absolute;
    z-index: 99;
    color: #33b6d2;
    font-weight: 100;
    font-size: 35px;
    background-color: white;
    border-radius: 60px;
    padding: 5px 14px;
    opacity: 1;
    top: -20px;
    cursor:pointer;
    right: -20px;
}
.ekko-lightbox-nav-overlay a>* {
    flex-grow: 0 !important;
}
.ekko-lightbox .modal-body {
    padding: 0 !important;
}
.ekko-lightbox-item img {
    border: 3px solid white;
}

a.thumb-right {
    right: 0;
}

a.thumb-left, a.thumb-right {
    position: absolute;
    width: 50px;
    top: 0;
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    z-index: 999;
}

a.thumb-left {
    left: 0;
}
.gallery-thumbs-arrows {
    position: relative;
}
.black-title {
    border-bottom: 2px solid black;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}
.dimension {
    border-bottom: 1px solid #e3e3e3;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 300;
    position: relative;
}
.dimension .size {
    left: 20px;
    position: absolute;
    direction: ltr;
}
ul.color-variable-wrapper li {
    list-style-type: none;
    float: right;

}

ul.color-variable-wrapper {
    padding: 0;
    /*display: none;*/
}
.variable-item:not(.radio-variable-item) {
    width: auto !important;
    height: auto !important;
}

ul.color-variable-wrapper li.selected span {
    border: 2px solid #19c8ee;
}

table.variations td.label {
    display: none;
}
a.reset_variations {
    display: none;
}
.summary.entry-summary {
    margin-bottom: 40px;
}
.product-icon {
    float: right;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}
.product-icon img {
    height: 60px;
}
.product-icon span {
    display: block;
    width: 80px;
    margin: 10px 0 0 0;
    font-size: 14px;
    text-align: center;
    line-height: 14px;
}
.grey-bg {
    margin-top: 40px;
    background-color: #f2edea;
    width: 100%;
    padding: 40px 0;
}
ul.products.columns-4 {
    margin: auto;
}
button.single_add_to_cart_button.loading, button.single_add_to_cart_button.added  {
    color: #19c8ee;
    position: relative;
    text-indent: -99999px;
}
button.single_add_to_cart_button.loading::after, button.single_add_to_cart_button.added::after {
    content: 'מוסיף ...';
    text-indent: 0 !important;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
}

button.single_add_to_cart_button.added::after {
    content: 'נוסף לסל!';
}

.woocommerce-Price-amount.amount.old-price
{
    text-decoration: line-through;
}

.sh-title.smaller.white {
    padding: 0;
    font-size: 55px;
    margin-bottom: 40px;
}
.sh-title.smaller.white sub {
    font-size: 60px;
    bottom: -24px;
    right: -50px;
    color: #FFFFFF;
}
.flex-viewport, .flex-viewport figure, .flex-viewport figure div {
    height: auto !important;
}
/** End Product Page **/

/** Cart page **/
.woocommerce table.shop_table th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
}
.woocommerce table.shop_table {
    border: 0;
}

form.woocommerce-cart-form table.shop_table .attachment-woocommerce_thumbnail {
    width: 120px;
}

.woocommerce table.shop_table span.woocommerce-Price-currencySymbol {
    font-size: 12px;
    margin-right: 3px;
}
.q_arrow_up, .q_arrow_down {
    cursor: pointer;
    position: absolute;
    margin-top: -1px;
}
.q_arrow_up
{
    right: 0px;
    margin-top: -1px;
}
.q_arrow_down
{
    margin-right: 5px;
}
.q_wrapper {
    position: relative;
    padding-right: 20px;
}
td.actions {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 80px 0 0;

    text-align: right;
    float: none;
}
td.actions .coupon{
    text-align: right;
    float: none;
    width: 100%;
}
td.actions span.hasyou {
    font-weight: 700;
}
input#coupon_code {
    font-size: 12px;
    padding-right: 12px;
    border: 0;
    padding-bottom: 0;
}
button[name="update_cart"] {
    display: none;
}
.coupon-button-holder {
    float: left;
    padding: 0 20px 0 0;
    margin-bottom: -2px;
    background-color: white;
}

div.cart-collaterals {
    border-top: 2px solid black;
    padding: 20px 0 50px 0;
}

div.cart-collaterals .cart_totals {
    width: auto !important;

}
div.cart-collaterals .cart_totals th, div.cart-collaterals .cart_totals td  {
    border-bottom: 1px solid #cfcfcf;
    border-top: 0;
}
div.cart-collaterals .cart_totals th
{
    width: 120px;
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    border-top: 0;
}
div.textwidget {
    font-weight: 100;
}
/*** Checkout **/
h2.black-title {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-size: 24px;
    padding: 15px 10px;
    font-weight: 600;
    margin: 0 0 20px 0;
}
.woocommerce-input-wrapper input::placeholder {
    color: #000;
}
.woocommerce-input-wrapper input::placeholder span {
    color: #19c8ee;
}
.woocommerce-input-wrapper input {
    padding: 5px;
}
.woocommerce-input-wrapper {
    width: 100%;
}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
    border: 1px solid #69bf29;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
    border: 1px solid #a00;
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.woocommerce-input-wrapper span.selection span
{
    height: 100%;
}
span.select2-container {
    height: 38px;
}
span.select2-selection__rendered {
    padding-top: 2px;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 49%;
}
.review-order {
    background-color: #f0f1f2;
    padding: 15px;
    margin-bottom: 40px;
}
.inline-block {
    display: inline-block !important;
}

.review-order h1.title {
    font-weight: 200;
    color: #19c8ee;
    font-size: 22px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
div#order_review table.shop_table td,
div#order_review table.shop_table th{
    border-top: 0 !important;
    border-bottom: 1px solid #19c8ee;
}
div#order_review table.shop_table th{
    font-size: 20px;
}
div#order_review table.shop_table {
    border-collapse: collapse;
}
div#order_review td.product-name {
    width: 55% !important;
    position: relative;
    padding: 15px 30px 15px 10px;
}
div#order_review td.product-total {
    vertical-align: top;
    padding: 15px 0 0 0;
    font-weight: bold;
}
div#order_review a.remove {
    position: absolute;
    right: 0;
    top: 15px;
}
.col-1, .col-2 {
    max-width: none !important;
}
.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
    margin-left: 10px;
}
.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
    text-align: right !important;
}
a.back-to-shop {
    font-weight: bold;
}
div.thanks-text
{
    background-color: #19c8ee;
    display: inline-block;
    border-radius: 21px;
    color: #FFF;
    padding: 15px 15px 0 15px;
    font-size: 32px;
    font-weight: 100;
}
div.thanks-text strong
{
    font-weight: 500;
}
.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}
.blog-post {
    display: flex;
    margin: 30px 0;
    flex-direction: row-reverse;
}
.post-textual, .post-visual {
    flex: 50%;
}

.post-textual {
    padding: 0 0 50px 20px;
    text-align: right;
    font-size: 12px;
    position: relative;
}

.post-visual img {
    width: 100%;
}
.post-visual .img-wrapper {
    position: relative;
}

.img-wrapper::after {
    content: ' ';
    position: absolute;
    left: 10px;
    bottom: 10px;
    top: -10px;
    right: -10px;
    border: 1px solid #FFF;
}
.post-textual a.title
{
    color: #000;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
    display: block;
}
.post-textual a.button
{
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 12px;
}
.post-content img.featured {
    width: 100%;
}
.post-content .featured-img-wrapper {
    max-height: 350px;
    overflow: hidden;
    margin-bottom: 20px;
}
.post-sidebar {
    background-color: #f0f1f2;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 25px;
}
.margin-bottom  {
    margin-bottom: 40px;
}
.more-articles
{
    font-weight: 200;
    color: #19c8ee;
    font-size: 32px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.post-teaser {
    border-bottom: 1px solid #19c8ee;
    padding: 0 20px 20px 20px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.post-teaser .post-image img {
    width: 70px;
    margin-right: 10px;
}
a .post-title {
    color: #000;
}
.post-nav
{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
.post-nav a {
    display: inline-table;
    font-weight: 500;
}
.right-auto {
    margin-right: auto;
}
.the-best-sellers {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav.woocommerce-MyAccount-navigation ul {
    padding: 1px 0 0 0;
    border: 1px solid #19c8ee;
    border-radius: 12px;
}

nav.woocommerce-MyAccount-navigation ul li {
    list-style-type: none;
    border-top: 1px solid #19c8ee;
}

nav.woocommerce-MyAccount-navigation ul li a {
    padding: 10px 20px
}

.woocommerce-MyAccount-content p.form-row label
{
    display: block !important;
}
nav.woocommerce-MyAccount-navigation ul li:hover,
nav.woocommerce-MyAccount-navigation ul li.is-active{
    background-color: #eaeaea;
}

nav.woocommerce-MyAccount-navigation ul li:first-child {
    border-top: none !important;
    border-radius: 12px 12px 0 0;
}

nav.woocommerce-MyAccount-navigation ul li:last-child {
    border-radius: 0 0 12px 12px;
}

nav.woocommerce-MyAccount-navigation ul li a {
    display: block;
}

.woocommerce-MyAccount-content button.button,
.woocommerce-MyAccount-content a.woocommerce-button,
div.woocommerce-Message a.button,
.woocommerce-form-login button.button, .woocommerce-ResetPassword button.woocommerce-Button,
.woocommerce .wishlist_table td.product-add-to-cart a {
    background-color: black;
    padding: 12px 25px;
    font-size: 22px;
    font-weight: 100;
    color: #FFF;
}

a.images-nav-back,
a.images-nav-next
{
    position: absolute;
    display: block;
    width: 47px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    z-index: 1;
}

a.images-nav-back
{
    background: transparent url('assets/images/arrow_black_right.png') no-repeat center center;
    left: auto;
}
a.images-nav-next
{
    background: transparent url('assets/images/arrow_black_left.png') no-repeat center center;
    right: auto;
}
.inline-block {
    display: inline-block;
}
.position-relative {
    position: relative;
}

.woocommerce-product-gallery
{
    display: flex;
}

.woocommerce-product-gallery .flex-viewport {
    flex: 1;
}

.woocommerce-product-gallery__image img {
    width: 100%;
    height: auto;
}

.woocommerce-product-gallery .flex-control-nav {
    width: 200px;
}
.woocommerce-product-gallery .flex-control-nav li {
    list-style-type: none;
    margin-bottom: 10px;
}

.woocommerce-product-gallery .flex-control-nav li img {
    width: 100%;
}

.woocommerce-product-gallery .flex-direction-nav a{
    display: block;
    width: 40px;
    height:40px;
    margin: -20px 0 0;
    position: absolute;
    top:50%;
    z-index:2;
    overflow: hidden;
    opacity:1;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    /*background-color: #000;*/
    border-radius: 50%;
    text-align: center;
}

.woocommerce-product-gallery__wrapper {
    width: 100%;
}
.woocommerce-product-gallery .flex-direction-nav a:before{
    font-family: "flexslider-icon";
    font-size:40px;
    display: inline-block;
    content: '';
    /*color: #FFF;*/
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    line-height: 40px;
    font-weight:normal;
}
.woocommerce-product-gallery .flex-direction-nav {
    display: none;
}
.woocommerce-product-gallery .flex-direction-nav a.flex-prev{
    left:30px;
    text-align: center;
    z-index:5;
    font-size:40px;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    line-height: 40px;
    font-weight:normal;
    background-image:url('assets/images/arrow_left.png');
    background-position: left;
    background-repeat: no-repeat;
    text-indent: -9999999px;
}
.woocommerce-product-gallery .flex-direction-nav a.flex-next{
    text-align: center;
    right:30px;
    background-image:url('assets/images/arrow_right.png');
    background-position:right;
    background-repeat: no-repeat;
    z-index:5;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-size:40px;
    line-height: 40px;
    font-weight:normal;
    text-indent: -9999999px;
}
ul.flex-direction-nav{
    list-style:none !important;
}
/* ------------------------------------------------------------------------- *
 * Star Ratings In WooCommerce
/* ------------------------------------------------------------------------- */
.star-rating{width:145px;height:25px;background:url(assets/images/star.png) repeat-x left 0}
.star-rating span{background:url(assets/images/star.png) repeat-x left -27px;height:0;padding-top:29px;overflow:hidden;float:right}
.hreview-aggregate .star-rating{margin:10px 0 0 0}
#review_form #respond{position:static;margin:0;width:auto;padding:0 0 0;background:transparent none;border:0}
#review_form #respond:after{content:"";display:block;clear:both}
#review_form #respond p{margin:0 0 10px}
#review_form #respond .form-submit input{left:auto}
#review_form #respond textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%}
p.stars:after{content:"";display:block;clear:both}
p.stars span{width:145px;height:25px;position:relative;float:right;background:url(assets/images/star.png) repeat-x left 0}
p.stars span a{float:left;position:absolute;right:0;top:0;width:29px;height:0;padding-top:29px;overflow:hidden}
p.stars span a:hover,p.stars span a:focus{background:url(assets/images/star.png) repeat-x 1px -27px}
p.stars span a.active{background:url(assets/images/star.png) repeat-x 1px -27px}
p.stars span a.star-1{width:29px;z-index:10}
p.stars span a.star-2{width:58px;z-index:9}
p.stars span a.star-3{width:87px;z-index:8}
p.stars span a.star-4{width:116px;z-index:7}
p.stars span a.star-5{width:145px;z-index:6}

/** Category Page **/
.products {
    display: grid;
    grid-template-columns: repeat(3, 460px);
    grid-gap: 40px;
    justify-content: space-between;
}
.product-wrapper .product-info {
    position: relative;
}

.thumb-wrapper .prod-thumb-bottom {
    display: none;
    position: absolute;
    bottom: 0;
}
.thumb-wrapper:hover .prod-thumb-bottom {
    display: flex;
}

.product-wrapper {
    width: 100%;
    text-align: right;
}
.product-wrapper .thumb-wrapper a {
    width: 100%;
}
.product-wrapper .thumb-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.product-wrapper img.thumb {
    width: 100%;
    height: auto;
}

.product-badge {
    position: absolute;
    left: 20px;
    top: 10px;
    direction: ltr;
    font-size: 33px;
    font-weight: 800;
}

.slim-scroll::-webkit-scrollbar {
    width: 5px;
    margin-right: 5px;
}

.slim-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f3f3f3;
}

.slim-scroll::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    outline: 3px solid #CCCCCC;
}

/** !Product list responsive grid! **/
@media screen and (max-width: 1600px) {
    .products {
        grid-template-columns: repeat(3, 410px);
    }
}

@media screen and (max-width: 1400px) {
    .products {
        grid-template-columns: repeat(3, 340px);
    }
}

@media screen and (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(3, 280px);
    }
}

@media screen and (max-width: 991px) {
    .products {
        grid-template-columns: repeat(3, 200px);
    }
}

@media screen and (max-width: 768px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
    .products .product-wrapper .thumb-wrapper {
        height: auto;
    }
}

.archive-banner {
    position: relative;
}

.archive-banner img {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 991px) {
    .archive-banner img {
        position: relative;
    }
}

.info-block.collapsed .info-block-toggle img {
    transform: rotate(180deg);
}

.info-block.collapsed .info-block-content {
    display: none;
}

.info-block .info-block-toggle {
    left: 10px;
    position: absolute;
}
.info-block-title {
    font-size: 18px;
    padding: 15px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
    div.summary img.stars {
        position: static;
    }
}

img.ajax-loading {
    z-index: 4;
}
img.wp-smiley, img.emoji {
    display: none !important;
}
.yith-wcwl-add-to-wishlist {
    display: none;
}
.product-lite-text{
    font-weight: 300;
    margin: 20px 0;
}
.single-product-top{
    display: flex;
    flex-direction: column;
}
.single-product-stars{
    margin-top: 15px;
}
.single-product-title h1{
    margin-bottom: 0;
}

.ResetPassword {
    text-align: center;
}

.ResetPassword h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.woocommerce-ResetPassword p.form-row {
    float: none;
    margin: 40px auto;
    display: block;
}

.woocommerce-ResetPassword .woocommerce_lost_password_message {
    margin-top: 30px;
}

.woocommerce-ResetPassword p.form-row input.input-text {
    padding: 10px 0;
}

.woocommerce-ResetPassword p.form-row button.button {
    background-color: #000;
    padding: 12px 45px;
    border-radius: 0;
    font-weight: 400;
}

.woocommerce-ResetPassword p.form-row button.button:hover {
    background-color: #000;
    color: #fff;
}

.ResetPassword .woocommerce-error {
    border-top-color: transparent;
    background-color: transparent;
    color: red;
}

.ResetPassword .woocommerce-error::before {
    content: '';
}

ul.slick-dots li:only-child {
    display: none !important;
}


.product-badge.badge-oos::before {
    content: 'out of stock';
}

.product-badge.badge-sale::before {
    content: 'sale';
}

.product-badge.badge-best-seller::before {
    content: 'best seller';
}

.mega-menu-item-image {
    display: none;
}

.desktop-filtering {
    display: flex;
    flex: 1;
}

.desktop-filtering .archive-filter {
    margin: 0 20px;
}

.archive-filter ul.visible, .price_slider_wrapper.visible {
    display: block;
}

p.form-row.woocommerce-invalid::after {
    content: attr(error-message) !important;
    position: absolute;
}

.submit-checkout {
    display: none;
}
