/* varela-round-regular - latin_hebrew */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/varela-round-v12-latin_hebrew-regular.eot'); /* IE9 Compat Modes */
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
    url('fonts/varela-round-v12-latin_hebrew-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/varela-round-v12-latin_hebrew-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/varela-round-v12-latin_hebrew-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/varela-round-v12-latin_hebrew-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/varela-round-v12-latin_hebrew-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
}