/*!

 * Hamburgers

 * @description Tasty CSS-animated hamburgers

 * @author Jonathan Suh @jonsuh

 * @site https://jonsuh.com/hamburgers

 * @link https://github.com/jonsuh/hamburgers

 */

.hamburger {

  z-index: 9993;

  position: absolute;

  right: 0;

  top: 0px;

  padding: 0px 16px 4px 6px;

  display: inline-block;

  cursor: pointer;

  transition-property: opacity, filter;

  transition-duration: 0.15s;

  transition-timing-function: linear;

  font: inherit;

  color: inherit;

  text-transform: none;

  background-color: transparent;

  border: 0;

  margin: 0;

  overflow: visible;
}

.sticky-mobile .hamburger {
  padding-top: 5px;
}

.hamburger:hover {

  opacity: 0.7; }

.hamburger.is-active:hover {

  opacity: 0.7; }

.hamburger.is-active {

  padding-top: 8px;

}

.hamburger.is-active .hamburger-inner,

.hamburger.is-active .hamburger-inner::before,

.hamburger.is-active .hamburger-inner::after {

  background-color: #000; }



.hamburger-box {

  width: 32px;

  height: 23px;



  display: inline-block;

  position: relative; }



.hamburger-inner {

  display: block;

  top: 50%;

  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {

  width: 23px;

  height: 1px;

  background-color: #000;

  border-radius: 4px;

  position: absolute;

  transition-property: transform;

  transition-duration: 0.15s;

  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {

  content: "";

  display: block; }

.hamburger-inner::before {

  top: -7px; }

.hamburger-inner::after {

  bottom: -10px; }



/*

   * Collapse

   */

.hamburger--collapse .hamburger-inner {

  top: auto;

  bottom: 0;

  transition-duration: 0.13s;

  transition-delay: 0.13s;

  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse .hamburger-inner::after {

  top: -14px;

  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }

.hamburger--collapse .hamburger-inner::before {

  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }



.hamburger--collapse.is-active .hamburger-inner {

  transform: translate3d(0, -10px, 0) rotate(-45deg);

  transition-delay: 0.22s;

  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--collapse.is-active .hamburger-inner::after {

  top: 0;

  opacity: 0;

  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }

.hamburger--collapse.is-active .hamburger-inner::before {

  top: 0;

  transform: rotate(-90deg);

  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }



@media screen and (max-width: 768px) {
  .search-popup .results-popup .result-item .pimage {
    width: 37%;
  }
  div.pum-content.popmake-content {
    max-width: 100%;
  }

  .popup-newsletter-left.test {
    display: none;
  }

  .popup-newsletter-right {
    width: 100%;
    padding-bottom: 50px;
  }

  .popup-newsletter-right .popup-newsletter-bottomtext {
    bottom: 10px;
    width: 84%;
  }
  .form-login-submit button.woocommerce-Button.button {width: 100%;}

  .woocommerce form p.form-row.form-login-submit {
    padding: 0;
  }
  .woocommerce form.woocommerce-form-login p.form-row input {
    -webkit-appearance: none;
    border: 1px solid #000 !important;
    padding: 5px;
  }

  .woocommerce form.woocommerce-form-login p.form-row label {
    line-height: 1.2;
    margin-bottom: 3px;
  }
  .woocommerce form .form-row .required {
    color: #000;
  }
  a.button-social-login.button-social-login-google {
    display: none;
  }
  .product-reviews .rev-count a {
    width: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 25px;
  }

  .homepage-banner a.banner-link {
    border: none;
    padding: 0;
  }

  p.to-terms {
    font-size: 11px;
  }
  .product-wrapper .thumb-wrapper:hover .thumb-overlay {
    display: none;
  }

  .top-stripe {

    display: block;

    font-weight: bold;

    padding: 10px 10px;

    line-height: 1;
  }

  .top-stripe a{

    font-size: 3.5vw !important;
    text-decoration: none;
  }

  .topbar {

    position: absolute !important;

    left: 40px;

    z-index: 9;

  }



  .topicon {

    display: none;

  }



  .topicon.minicart, .topicon.we-are-here {

    display: block;



  }

  .topicon.we-are-here {

    margin-left: 0px;

  }

  .blog .topicon.we-are-here {
    margin-top: 15px;
  }

  .blog .blog-insta .blog-insta-hashtag {
    background-position: left 0px;
  }
  .blog .blog-insta .blog-insta-dots {
    right: -14px;
  }
  .blog-follow-us-form .f-newsletter .newsletter-form .newsletter-submit {
    max-height: 33px;
    line-height: 21px;
  }

  .topicon.minicart {

    z-index: 10;

    margin-top: 8px;

  }

  .topicon.wishlisticon {

    display: block;

    margin: 8px -15px 0 10px;

  }

  .topicon.minicart .mini-cart-toggle img{

    width: 22px;

  }

  .topicons-left {

    left: -40px;

    top: 43px;

    width: 148px;

    z-index: 2;

  }



  .menubar {

    border-bottom: 1px solid #cccccc;

    margin: inherit;

  }



  .menubar-mobile {

    /*        height: 65px;*/



  }

  a#logo-mobile {

    position: relative;

    width: 102px;

    /*        width: 150px;*/

    margin: 5px auto 0;

    display: block;;

  }



  a#logo-mobile img {

    width: 100%;

  }



  .mini-cart-wrapper {

    left: -13px;

    /*        left: -28px;*/

    right: auto;

  }



  .searchbox {

    text-align: right;

    width: 100%;

  }



  .searchbox input.search-value {

    width: calc(100% - 148px);

    background-image: url(../../images/search.png);

    background-position: 10px center;

    background-repeat: no-repeat;

    border-top: 1px solid #cccccc;

    border-left: 0;

    border-right: 0;

    border-bottom: 0;

    height: 26px;

    background-size: 19px;

    padding-right: 13px;

    display: block;

    margin-top: 3px;

    border-radius: 0;

  }

  .searchbox input.search-value::-webkit-input-placeholder {

    font-size: 14px;

    font-weight: normal;

    color: #999999;

    padding-top: 6px;

  }



  .we-are-here-box {

    border-top: 1px solid #cccccc !important;

    border-right: 1px solid #cccccc !important;

    border-bottom: 0 !important;

    border-left: 0 !important;

    outline: none !important;

  }



  .new-flats {

    display: none;

  }



  .homepage-banners {

    display: block !important;

  }

  .homepage-banner {

    position: relative;

  }



  .banner-button {

    display: none !important;

  }



  .banner-text-wrapper {

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    display: flex;

    justify-content: center;

    align-items: center;

  }



  .banner-text

  {

    color: white;

    z-index: 2;

  }



  .our-story {

    display: none;

  }



  /* the slides */

  .slick-slide {

    margin-left:0;

  }

  /* the parent */

  .slick-list {

    margin-left:0;

  }







  .f-bottom-right, .f-bottom-left {

    position: relative !important;

  }



  a.images-nav-back, a.images-nav-next {

    width: 40px;

    background-size: 25px;

  }



  a.images-nav-next {

    left: 0;

  }



  .footer-widget.f-star, .footer-widget.f-pencil, .footer-widget.f-arrow {

    display: none;

  }



  a.gc-link {

    text-align: center !important;

    padding-right: 15px;

  }



  ul.slides {

    display: block;

  }



  .topicons-container {

    display: block;

  }



}

@media (min-width: 1400px) {

  .container {

    max-width: 1432px;

  }

}

@media (min-width: 992px) {

  .my-account-container {

    display: flex;

  }

}



@media (min-width: 768px) {

  .my-account-nav {

    width: 220px;

  }

}



span.register-email {

  display: block;

  direction: ltr;

  font-size: 24px;

  text-decoration: underline;

  margin-top: 15px;

}



@media (min-width: 768px) and (max-width: 992px) {

  .my-account-container .my-account-content {

    width: 75%;

    margin: auto;

  }

  .my-account-container .my-account-content .woocommerce-MyAccount-content {

    margin: 0;

  }

  .my-account-nav {

    margin: 0 auto 50px;

    width: 75%;

  }

  nav.woocommerce-MyAccount-navigation ul li {

    background-size: 3%;

  }

}



@media (max-width: 1200px) {



  .woocommerce .getraffic-edit-account form {

    width: 90%;

  }

  .woocommerce .getraffic-edit-account .woocommerce-MyAccount-user {

    margin: 0px 0 20px;

    padding-top: 15px;

  }

}





@media (max-width: 992px) {



  .show-shipping-fields {

    margin-bottom: 9px;

    margin-right: 13px;

    width: 100%;

    display: block;

  }

  .getraffic-edit-account .woocommerce-EditAccountForm .form-row {

    padding: 7px 10px !important;

    margin-bottom: 15px;

  }

  .woocommerce .getraffic-edit-account .woocommerce-EditAccountForm .form-row {

    margin-bottom: 20px;

  }

  .woocommerce .woocommerce-address-fields #billing_city_field, .woocommerce .woocommerce-address-fields #shipping_city_field {

    /*        margin-left: 18px;*/

  }

  .save_address button.button{

    width: 53%;

  }

}