@media screen and (max-width: 850px) {
    .location-contact {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .post-sidebar {
        display: none;
    }
    .post-nav
    {
        font-size: 16px;
    }
    .topicons-container {
        display: none;
        justify-content: space-evenly;
    }

    .topicon {
        margin-left: 0;
    }

    .topicons-container a.number, .topicons-container a.shop-online {
        display: none;
    }

    .sm-noalign {
        text-align: inherit !important;
    }

    .location-contact {
        width: 500px;
    }

    .excerpt-right {
        background: none;
    }

    .excerpt-right, .excerpt-left {
        padding: 20px;
    }

    h1.sh-title, h1.sh-title sub, .contact-bg h1 {
        font-size: 36px;
    }

    .sh-title.smaller.white {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .sh-title.smaller.white sub {
        font-size: 24px;
    }

    .gtModal {
        margin-top: 40px !important;
    }

    .gtModal .buttons-wrapper {
        width: 100% !important;
    }

    .gtModal .product_title.entry-title {
        font-size: 18px;
        border-bottom: 1px solid;
    }

    .gtModal .buttons-wrapper a.button {
        font-size: 14px;
    }

    .cf7-home .wpcf7-form-control-wrap {
        float: none;
        width: auto;
        margin: 10px;
    }

    .wpcf7-form-control.wpcf7-submit {
        float: none;
        font-size: 14px;
    }

    .sh-title.smaller sub {
        display: none;
    }

    .location-address {
        margin-right: 0;
    }

    h2.location-title {
        background-size: 33px;
        padding-right: 50px;
        font-size: 30px;
    }

    .q_arrow_up, .q_arrow_down {
        position: relative;
    }

    .q_arrow_up {
        right: -3px;
    }
    .menubar #logo img {
        display:none;
    }
    .slicknav_btn {
        margin-top: 2px !important;
    }
    .topicons-container a#logo {
        display:none;
    }
    .menu-right, .menu-left {
        display: none;
    }
    .menubar-mobile {
        display: block;
    }
    a#logo {
        float: none;
    }
    span.topicon-text {
        display: none;
    }

    .woocommerce-product-gallery .flex-direction-nav {
        display: block;
        padding: 0;
    }

    .woocommerce-product-gallery .flex-control-nav {
        display: none !important;
    }

    .woocommerce-product-gallery a.whishlist
    {
        position: absolute;
        right: 0;
        top: 0;
    }


    .woocommerce-product-gallery .flex-direction-nav a.flex-prev {
        left: 5px;
    }
    .woocommerce-product-gallery .flex-direction-nav a.flex-next {
        right: 5px;
    }
}

@media screen and (min-width: 769px) {
    a#logo-mobile {
        display:none;
    }
}

@media screen and (min-width: 769px) and (max-width: 993px) {
    .sh-title.smaller.white {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .sh-title.smaller.white sub {
        font-size: 30px;
    }

    h1.sh-title {
        font-size: 55px;
    }

    h1.sh-title sub {
        font-size: 60px;
    }

    .gtModal .product_title.entry-title {
        font-size: 18px;
        border-bottom: 1px solid;
    }

    .gtModal .buttons-wrapper {
        width: 87%;
    }

    .gtModal .buttons-wrapper a.button {
        font-size: 14px;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 576px) {
    .location-contact {
        width: 350px;
    }

    *, html, body {
        font-size: 14px;
    }

    .gtModal .woocommerce-product-gallery__image img {
        display: none;
    }

    .gtModal {
        width: 90%;
        margin-right: 5%;
    }

    .locations .location {
        float: none;
    }

    .blog-post {
        display: block;
    }
}

@media screen and (max-width: 993px) {
    .woocommerce-product-gallery .flex-direction-nav {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .blog-post:nth-child(3n)::before, .blog-post:nth-child(4n)::before {
        content: ' ';
        top: -25px;
        left: 0;
        right: -10px;
        bottom: 60px;
        position: absolute;
        background-color: #efefef;
    }
    .blog-post:nth-child(4n)::before {
        left: -10px;
        right: 10px;
    }
    .post-textual a.button {
        bottom: 80px;
    }
}
@media screen and (max-width: 1200px) {
    .blog-post:nth-child(3n), .blog-post:nth-child(4n) {
        background-color: #efefef;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .topicon img.topicon {
        width: 20px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1240px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }

    *, html, body {
        font-size: 20px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}

@media (min-width: 1800px) {
    .container {
        max-width: 1720px;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1820px;
    }
}
