.woocommerce .getraffic-edit-account .woocommerce-EditAccountForm .form-row {
    margin-bottom: 32px;
}
p.form-row.woocommerce-invalid::after {
    content: attr(error-message) !important;
    display: block;
    /* position: static; */
    top: 47px;
    font-size: 14px;
    line-height: 14px;
    color: red;
    width: 100%;
    right: 0;
}
p.form-row {
    position: relative;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select,
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
    border: 0 !important;
}
.current_password, .new_password, .confirm_new_password{
    position: relative;
}
.closed-eye{
    position: absolute;
    left: 15px;
    top: 15px;
}
.opened-eye{
    position: absolute;
    left: 15px;
    top: 10px;
    display: none;
}
div.dashboard {
/*    background: url(../../images/myaccount-background.jpg);*/
    background-size: cover;
    background-position: bottom center;
    padding: 37px 52px;
    position: relative;
    margin: 0 0px 0 10px;
}
.my-account-row{
    margin: 35px 0 50px;
}
.myaccount_shipping_fields {
    display: none;
}
td.woocommerce-table__product-checkbox.product-checkbox {
    display: table-cell !important;
}
td.woocommerce-table__product-checkbox.product-checkbox input[type="checkbox"] {
    -webkit-appearance: checkbox;
}
.contact-banner img {
    width: 100%;
}

.sidemenu-banner h1 {
    line-height: 20px;
    text-align: center;
}
.orders-to-return
{
    /*        width: 60%;*/
    margin: auto;
    display: none;
}
.returns-thanks {
    margin: auto;
    text-align: center;
    display: none;
}
table.order-customer-details, .order-details-summary {
    display: none;
}

a.submit-return {
    background: black;
    color: white;
    padding: 15px 30px;
    display: inline-block;
    margin: 0 0 20px;
}

.woocommerce-MyAccount-navigation-link--orders
{
    background: rgba(0, 0, 0, 0) url(../../images/orders-myaccount-image.png) no-repeat scroll right center / 8% auto;
}
.woocommerce-MyAccount-navigation-link--edit-account
{
    background: rgba(0, 0, 0, 0) url(../../images/edit-account-myaccount-image.png) no-repeat scroll right center / 8% auto;
}
.woocommerce-MyAccount-navigation-link--edit-address {
    background: rgba(0, 0, 0, 0) url(../../images/billing-myaccount-image.png) no-repeat scroll right center / 8% auto;
}

.woocommerce-MyAccount-navigation-link--mywishlist {
    background: rgba(0, 0, 0, 0) url(../../images/mywishlist-myaccount-image.png) no-repeat scroll right center / 8% auto;
}

.woocommerce-MyAccount-navigation-link--coupons {
    background: rgba(0, 0, 0, 0) url(../../images/coupons-myaccount-image.png) no-repeat scroll right center / 8% auto;
}


.woocommerce-MyAccount-navigation-link--points {
    background: rgba(0, 0, 0, 0) url(../../images/points-myaccount-image.png) no-repeat scroll right center / 8% auto;
    display: none;
}

.woocommerce-MyAccount-navigation-link--returns {
    background: rgba(0, 0, 0, 0) url(../../images/returns-myaccount-image.png) no-repeat scroll right center / 8% auto;
}

td.woocommerce-table__product-checkbox.product-checkbox {
    display: table-cell !important;
}
td.woocommerce-table__product-checkbox.product-checkbox input[type="checkbox"] {
    -webkit-appearance: checkbox;
}
.contact-banner img {
    width: 100%;
}

.sidemenu-banner h1 {
    line-height: 20px;
    text-align: center;
}
.orders-to-return
{
    /*        width: 60%;*/
    margin: auto;
    display: none;
}
.returns-thanks {
    margin: auto;
    text-align: center;
    display: none;
    margin-top: 38px;
}
.returns-thanks .contact-thankyou-imagetop {
    margin-bottom: 1rem;
}
.returns-thanks .contact-thankyou-imagetop img{
    width: 20%;
}
.returns-thanks .contact-thankyou-imagebottom img{
    position: absolute;
    right: 0px;
    top: 280px;
    width: 18%;
}
.tm-order-details table.order-customer-details, .tm-order-details .order-details-summary {
    display: block;
}
.returns-container .returns-top .orders-to-return .grey .tm-order-details table.order-customer-details, .returns-container .returns-top .orders-to-return .grey .tm-order-details .order-details-summary{
    display: none;
}
a.submit-return {
    background: black;
    color: white;
    padding: 15px 30px;
    display: inline-block;
    margin: 0 0 20px;
}
    @media screen and (max-width: 768px) {
        div.dashboard {
            padding: 20px;
            margin: 0;
        }
    }

.returns-container .returns-top .orders-to-return .grey table.shop_table td.product-checkbox input{ opacity: 1; }
