html {
    /** Cart Page **/
    /*.woocommerce-message {*/
    /*border: none;*/
    /*background: none;*/
    /*padding-right: 0px;*/
    /*}*/

    .woocommerce-notices-wrapper {
        margin-top: 20px;
    }

    span.wdr_cart_strikeout {
        display: flex;
    }

    ins {
        color: #900;
        text-decoration: none;
        font-weight: bold;
    }


    /*.woocommerce-message::before {*/
    /*    display: none;*/
    /*}*/
    /*!*.container .content .woocommerce .woocommerce-notices-wrapper *!*/

    /*.container .content .woocommerce .woocommerce-notices-wrapper .woocommerce-message{*/
    /*    display: none;*/
    /*}*/
    .product-quantity {
        background: white;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .cart-item-actions {
        align-items: flex-start;
        display: block;
        margin-top: 12px;
        position: relative;
    }

    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
        float: none;
    }

    .cart_totals table.shop_table
    {
        border-top: 2px solid #f3f3f3;
        background: #f3f3f3;
        border-radius: 0;
    }

    div.wc-proceed-to-checkout a {
        border-radius: 0 !important;
    }

    .cart-collaterals
    {
        border: none !important;
        padding: 0;
    }

    .order-totals {
        text-align: center;
        font-size: 18px;
        display: none;
    }
    .cart_totals .wc-proceed-to-checkout a{
        padding: 15px 0 !important;
        background: #000 url(../../images/secure-icon.png) no-repeat left !important;
    }

    .woocommerce table.shop_table th, .woocommerce table.shop_table tr {
        width: 100%;
        padding: 10px 0 10px 0;
        font-weight: 100 !important;
    }
    .woocommerce table.shop_table tr.shipping-method {
        display: none;
    }

    tr.order-total th {
        border-bottom: 0 !important;
        text-align: center;
        font-size: 24px !important;
    }


    .woocommerce table.shop_table_responsive tbody th, .woocommerce-page table.shop_table_responsive tbody th {
        display: block !important;
        text-align: center;
        /*    font-size: 14px !important;*/
        font-weight: bold!important;
        padding: 14px 0;
        border-bottom: 1px solid #797979;
        border-top: none;
    }
    .cart-container table.shop_table_responsive tbody th{
        font-size: 15px !important;
        font-weight: normal !important;
    }
    .woocommerce table.shop_table_responsive tbody .shipping-method th{
        padding-top: 21px;
        line-height: 24px;
    }
    .woocommerce table.shop_table_responsive tbody .shipping-method th .method{
        font-size: 14px;
        font-weight: 400;

    }
    .woocommerce table.shop_table_responsive tbody tr.order-next-stage {

    }
    .woocommerce table.shop_table_responsive tbody tr.order-total {
        display: block;
        padding: 0;
        /*    display: none;*/
    }

    .woocommerce table.shop_table_responsive tbody tr.order-next-stage th {
        font-size: 16px !important;
        color: #000;
        padding: 16px 0 14px;
    }
    .woocommerce table.shop_table{
        margin-bottom: 0px;
    }
    .woocommerce table.shop_table_responsive tbody th span.woocommerce-Price-amount{
        /*    font-size: 14px !important;*/
        font-weight: 400;
    }
    .woocommerce table.shop_table_responsive tbody th span.woocommerce-Price-currencySymbol{
        font-size: 14px !important;
    }
    form.woocommerce-cart-form{
        margin-top: 16px;
    }
    div.woocommerce-cart-form__cart-item
    {
        width: 100%;
        position: relative;
        display: flex;
        background: #f3f3f3;
        margin-bottom: 5px;
        padding: 10px;
    }

    .update-variation {
        display: none;
    }

    .clear-selection, .update-variation {
        cursor: pointer;
        text-decoration: underline;
    }

    .product-remove {
        position: absolute;
        left: 15px;
        bottom: 4px;
        text-align: center;
    }
    .woocommerce .product-remove a.remove {
        display: inline-block;
    }
    .product-wishlist{
        position: absolute;
        left: 60px;
        bottom: 5px;
        text-align: center;
    }
    .woocommerce a.wishlist-icon p{
        margin: 3px;
    }

    .mini-cart-added {
        display: none;
    }
    .car{
        text-align: center;
        color: #990000;
        font-weight: bold;
        font-size: 17px;
        margin: 37px 0 30px;
        letter-spacing: 0.7px;
        text-indent: 4px;
    }
    .car img{
        margin-left: 7px;
        width: 10%;
    }
    .benefits-icons{
        margin-top: 46px;
        text-align: center;
    }
    .woocommerce a.remove:hover {
        background: none !important;
    }

    div.product-thumbnail
    {
        min-width: 18%;
        max-width: 18%;
    }

    .cart-container {
        margin: 0 0 50px 0;
    }

    div.cart-collaterals {
        padding: 0;
    }

    .row.cart-container .col-lg-7 {
        padding: 0 4.3% 0 2%;
        margin: 33px 0 0 0%;
        padding: 0;
    }

    .row.cart-container .col-lg-4 {
        padding-left: 0;
        padding-right: 4.8%;
        margin-top: 20px;
    }
    .product-name{
        margin-top: 0px;
        font-size: 15px;
        font-weight: bold;
    }
    .product-name a{
        font-size: 16px;
        font-weight: bold;
    }


    .cart span.woocommerce-Price-currencySymbol {
        font-size: 14px;
    }

    div.product-subtotal
    {
        position: absolute;
        left: 40px;
        bottom: 6px;
    }
    .cart-item-info {
        padding-right: 3.7%;
        max-width: 60%;
    }
    .product-price{
        display: flex;
        font-family: 'GFS Didot', serif;
    }
    .cart-item-info .product-price span.woocommerce-Price-amount {
        font-size: 16px;
        padding: 0;
        margin-top: 0px;
        display: block;
        font-family: 'GFS Didot', serif;
        font-weight: bold;
    }
    .cart-item-info .product-price span.woocommerce-Price-amount.old-price + span {
        color: #990000;
        padding-right: 5px;
    }
    .cart-item-info .product-price .prices{
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: baseline;
    }
    .cart-item-info .product-price .prices .new-price{
        margin-right: 10px;
    }
    .cart-item-info .product-price .prices .new-price span{
        color: #990000;
    }
    .cart-item-info .cart-item-atts, .cart-item-info .cart-item-atts select option{
        font-size: 16px;
    }
    .cart-item-atts{

    }
    .cart-item-info .cart-item-atts select{
        padding: 2px 8px 3px 0px;
        margin-left: 13px;
        -webkit-appearance: none;
        background: #fff url(../../assets/images/arrow_black_down.png);
        background-repeat: no-repeat;
        background-position: 8% center;
        font-size: 16px;
        width: 115px;
        height: 29px;
        float: right;
        margin-bottom: 5px;
    }
    .cart-item-info .product-quantity{
        margin-left: 13px;
        margin-top: 0;
        float: right;
        display: inline-block;
    }

    .q_wrapper {
        border: 1px solid #acacac;
        padding: 0 15px;
        font-weight: 800;
        display: flex;
        align-items: center;
        width: 115px;
        height: 29px;
        justify-content: space-evenly;
    }

    .q_wrapper input {
        max-width: 100%;
        height: 100%;
        border: none;
        text-align: center;
    }

    .q_arrow_up, .q_arrow_down {
        position: relative;
        margin: 0;
        cursor: pointer !important;
        display: inline-block;
    }

    .q_arrow_up:hover, .q_arrow_down:hover {
        color: #ccc;
    }

    .q_wrapper span, .q_wrapper a {
        font-size: 12px;
        position: relative;
        top: -2px;
    }
    .q_wrapper span {
        padding: 5px 15px;

    }



    .woocommerce a.remove img {
        width: 11px;
    }
    .woocommerce a.remove p{
        font-size: 11px;
        margin-top: 8px;
        color: #000;
        padding-bottom: 2px;
    }

    .woocommerce a.wishlist-icon p {
        font-size: 11px;
        font-weight: bold;
    }

    div.shop_table.cart {
        margin-bottom: 40px;
    }



    .wc-proceed-to-checkout a
    {
        padding: 13px !important;
        font-size: 18px !important;
    }

    .cart-banner img {
        width: 100%;
        margin-top: 40px;
    }

    img.attribute-img {
        margin: 0 20px;
    }

    span.attribute-name, a.attribute-edit-link {
        font-weight: 100;
    }

    a.attribute-edit-link {
        text-decoration: underline;
        margin-right: 10px;
    }

    .flex {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    }

    .sumo_reward_points_current_points_message {
        display: none;
    }

    form.checkout_redeeming, div.fp_apply_reward {
        display: none !important;
    }

    #value_variable_product {
        display: none !important;
    }


    .sumo_reward_points_complete_message {
        display: none;
    }

    .samples {
        padding: 13px 20px 3px 20px;
        border: 1px solid #222;
        cursor: pointer;
        text-align: center;
        position: relative;
        font-size: 24px;
        line-height: 22px;
        letter-spacing: 2px;
        font-weight: bolder;
    }
    .sample-subtitle{
        font-size: 15px;
    }
    .samples span.sample-plus {
        float: left;
        font-size: 50px;
        line-height: 0px;
        font-weight: 300;
        margin-top: -5px;
    }
    .samples-wrapper {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    .samples-wrapper.active {
        max-height: 670px;
    }
    .product-samples {
        display: flex;
    }
    .product-samples {
        background-color: #fff;
        z-index: 1;
        padding: 20px 10px;
        text-align: center;
        border: 1px solid #222;
        border-top: 0;
        width: 100%;
        position: relative;
    }
    .samples.active + .samples-wrapper {
        display: block !important;
        max-height: none;
    }
    .upsell-sample-wrapper {
        flex: 33%;
    }

    .upsell-sample-wrapper a.shop-button {
        display: block;
    }
    .product-samples .slick-list.draggable{
        direction: ltr;
    }
    .product-samples .slick-arrow{
        display: none !important;
    }
    .upsell-sample-wrapper:nth-child(n+2) { margin-right:10px; }

    .sample-cart a.added::after {
        content: 'נוסף לעגלה';
    }
    .samples.active {
        border-bottom: 0;
    }
    .product-samples .row{
        margin-right: 0;
        margin-left: 0;
    }

    /*----------------Empty Cart------------------*/
    .empty_cart{
        text-align: center;
        margin-top: 50px;
    }
    .empty_cart_banners{
        display: flex;
        justify-content: center;
        width: 61%;
        margin: 20px auto 0;
    }
    .empty_cart_title{
        font-size: 25px;
        margin-bottom: 0;
    }
    .empty_cart_subtitle{
        font-size: 15px;
    }
    .empty_cart_subtitle a{
        font-weight: bold;
        text-decoration: underline;
    }
    .empty_cart_link{
        margin-top: -7px;
        display: none;
    }
    .empty_cart_link a{
        font-size: 14px;
        font-weight: bold;
        color: #990000;
        letter-spacing: 0.5px;
        text-decoration: underline;
    }
    .empty_cart_banners img{
        width: 100%;
    }
    .empty_cart_bottom{
        margin: 60px 0;
    }
    .empty_cart_bottom img{
        width: 41%;
    }
    .empty_cart_banners .thumb-wrapper:hover .thumb-overlay {
        display: flex;
    }
    .empty_cart_banners .thumb-wrapper {
        position: relative;
        margin: 0 10px;
        display: flex;
    }
    .samples span.sample-arrow {
        background-image: url('../../images/sample-opened.png');
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .samples.active span.sample-arrow {
        background-image: url('../../images/sample-closed.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .sample-cart a
    {
        width: 100%;
        text-align: center;
    }
    p.cart-empty{
        display: none;
    }

    .cart del {
        margin-left: 5px;
    }

    .cart ins {
        color: #990000;
        text-decoration: none;
    }

    .cart-item-atts {
        float: right;
        margin-top: 0;
    }
    .cart a.clear-selection, a.update-variation {
        background: #000;
        color: #fff;
        height: 29px;
        display: block;
        width: 114px;
        float: right;
        text-align: center;
        text-decoration: none;
        line-height: 29px;
        font-size: 16px;
        margin-bottom: 5px;
        display: none;
    }

    a.update-variation {
        background: #d3b4aa;
        margin-left: 13px;
        position: absolute;
        right: 0;
        top: 35px;
    }

    .cart a.clear-selection:after {
        content: "";
        margin-right: 5px;
        width: 6px;
        height: 9px;
        background: url(../../images/clear.png) no-repeat;
        display: inline-block;
        position: relative;
        top: 1px;
    }

    .cart .product-wishlist p, .cart .product-remove p {

    }

    .cart-container .col-lg-5 {
        padding-right: 4%;
        padding-left: 0;
    }


    @media screen and (max-width: 768px){
        .product-remove {
            right: 82px;
            bottom: 9px;
            left: 0;
            margin: auto;
            width: 100px;
            line-height: 1;
        }
        .product-wishlist{
            right: 0;
            bottom: 0px;
            left: 60px;
            margin: auto;
            width: 100px;
        }
        .cart-item-actions {
            display: flex;
            margin: 5px 0 0 0;
            /*        margin: 0;*/
        }
        .cart-item-info .product-quantity{
            margin-top: 0;
        }
        .cart-item-atts {
            margin-top: 0;
        }
        .row.cart-container .col-lg-7, .row.cart-container .col-lg-4 {
            padding: 0;
            margin: 0;
        }
        .car {
            margin: 0 0 5px 0;
        }
        .woocommerce table.shop_table_responsive tbody th {
            padding-top: 0 !important;
        }
        .empty_cart_banners {
            width: 100%;
            display: block;
        }
        .empty_cart_banners .thumb-wrapper {
            margin-bottom: 10px;
        }
        .empty_cart_bottom img {
            width: 100%;
        }
        div.product-thumbnail {
            max-width: 120px;
            width: 20vw;
        }
        .woocommerce a.remove {
            left: 5px;
            top: 0;
        }
        .woocommerce a.wishlist-icon {
            top: 5px;
            left: 45px;
        }
        .cart-item-info {
            padding-right: 20px;
        }
        .woocommerce a.remove p, .woocommerce a.wishlist-icon p {
            margin: 0px;
        }
        div.woocommerce-cart-form__cart-item {
            padding-bottom: 45px;
        }
        .cart-container {
            margin-top: 15px;
        }
        .sample-cart a {
            padding: .618em 0em !important;
            font-size: 14px !important;
        }
        .product-samples .col-xs-3{
            padding-left: 10px;
            padding-right: 10px;
        }
        .product-wrapper.sample{
            /*        display: block;*/
        }
        .cart-container .col-lg-5 {
            padding-right: 0;
            padding-left: 0;
        }
    }
    @media screen and (max-width: 480px){
        .cart-item-info {
            padding-right: 10px;
            max-width: 100%;
        }
        .woocommerce a.remove {
            right: 50px;
            bottom: 8px;
            top: auto;
        }

        .woocommerce a.wishlist-icon {
            right: 10px;
            left: auto;
            top: auto;
            bottom: 11px;
            position: absolute;
            line-height: 1.2;
        }
        .cart-item-info .cart-item-atts select, .cart-item-info .product-quantity{
            margin-left: 5px;
        }
        .product-name, .product-name a{
            font-size: 14px;
        }
        .sample-cart a {
            padding: .618em 0em !important;
            font-size: 2.6vw !important;
        }
        .samples span.sample-arrow {
            width: 16px;
            height: 16px;
            top: 24px;
            left: 16px;
            background-size: 16px;
        }

    }
    @media screen and (max-width: 420px){
        .cart-item-actions {
            display: block;
        }
        .cart-item-info .cart-item-atts select{
            float: none;
        }
        .cart a.update-variation, .cart a.clear-selection {
            position: relative;
            right: 0;
            bottom: 0;
            float: right;
            width: 115px;
            margin-left: 5px;
            margin-top: 5px;
        }
        .cart-item-info .cart-item-atts select:first-child {
            margin-left: 5px;
        }
        .cart a.update-variation{
            margin: 5px 0 5px 5px;
            top: 0;
        }
    }

}