.checkout-cart-container {
    background-color: #f6f6f6;
    padding: 0 4vw;
    height: 90%;
    /*    height: 100%;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.has-to-accept-terms
{
    display: block;
    color: red;
}


.woocommerce-checkout-review-order-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.checkout-wizard-container {
    padding: 0vw 2vw 0 8vw;
    /*    padding: 0 15px 200px;*/
    height: auto;
}

p.hidden {
    display: none;
}

.woocommerce ul#shipping_method {
    padding: 20px 0;
}

#nav-delivery ul#shipping_method li input {
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
}

#nav-delivery ul#shipping_method li h2.shipping-address {
    display: none;
}

#nav-delivery ul#shipping_method li .shipping-fields-container p.checkout-comments {
    width: 63%;
}

#nav-delivery ul#shipping_method li label span b {
    font-size: 16px;
    font-weight: normal;
}

#nav-delivery .checkout-shipping select.pickup_location {
    width: 50% !important;
    padding: 10px 10px 10px 0;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 40px;
}

#nav-delivery .checkout-shipping select.pickup_location option {
    padding: 10px 10px 10px 0;
    font-size: 16px;
    font-weight: normal;
}

/*--------------------- 11.11.2019 -------------------------*/
#nav-delivery .checkout-shipping {
    display: flex;
    flex-direction: column;
}

#nav-delivery .checkout-shipping span.select2-container {
    width: 50% !important;
}

#nav-delivery .checkout-shipping span.select2-container .select2-selection--single {
    height: 38px;
    border-radius: 0;
}

#nav-delivery .checkout-shipping .select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 6px;
}

#nav-delivery .checkout-shipping .select2-container .select2-selection--single .select2-selection__arrow {
    top: 0;
    left: 5px;
    right: auto;
    background: url(../../images/arrow_black_down.png);
    background-repeat: no-repeat;
    background-position: 5px 15px;
}

#nav-delivery .checkout-shipping .select2-container--open .select2-selection--single .select2-selection__arrow {
    top: 0;
    left: 5px;
    right: auto;
    background: url(../../images/arrow_black_up.png);
    background-repeat: no-repeat;
    background-position: 5px 15px;
}

#nav-delivery .checkout-shipping .select2-container .select2-selection--single .select2-selection__arrow b {
    border: none;
}

.select2-container .select2-search--dropdown .select2-search__field {
    border: none;
    border-bottom: 1px solid #aaa;
    width: 90%;
    margin: auto;
    display: block;
    background: url(../../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 5px 15px;
    background-position: center right;
    background-size: 5%;
    padding-right: 25px;
}

/*-----------------------------------------------------------*/
@media screen and (min-width: 1920px) {
    .checkout-wizard-container, .checkout-cart-container {
        padding: 6vw;
    }
}

h1.order-checkout {
    text-align: center;
    margin: 20px 0 10px;
}

h2.order-totals {
    font-weight: bold;
    font-size: 20px;
    display: block;
    border-bottom: 1px solid #797979;
    padding-bottom: 10px;
}

.woocommerce.cart-collaterals {
    border: 0;
    text-align: center;
    padding-bottom: 50px;
}

.checkout-review-summary {
    overflow-y: scroll;
    direction: ltr;
}

img.attachment-woocommerce_thumbnail {
    width: 70px;
    height: auto;
}

.checkout-summary-cart-item {
    display: flex;
    margin-right: 10px;
    border-bottom: 1px solid #d1d1d1;
    padding: 15px 0px 15px 10px;
    position: relative;
}

.checkout-summary-cart-item .product-name {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.woocommerce a.remove {
    display: none;
}

.checkout-button-wrapper {
    text-align: left;
    margin-top: 100px;
    width: 48%;
    float: left;
}

#nav-delivery .wizard-item-content .checkout-button-wrapper {
    margin-top: 0;
}

.checkout-summary-cart-item span.woocommerce-Price-amount {
    position: absolute;
    left: 0;
    bottom: 7px;
    font-weight: 600;
    font-size: 17px;
}

.checkout-summary-cart-item .product-total {
    font-weight: 100;
    padding-right: 10px;
    margin-top: 0;
    line-height: 16px;
    font-size: 19px;
    width: 100%;
    /*    padding: 10px 10px 0 0;*/
}

.checkout-summary-cart-item .product-quantity {
    position: absolute;
    bottom: 9px;
    right: 110px;
    direction: ltr;
    font-weight: 100;
}

.nav-tabs .nav-item, .nav-tabs .nav-item:hover {
    flex: 1;
    border: 0;
    font-weight: 100;
    font-size: 17px;
    border-radius: 0;
    border-top: 7px solid #efdde3;
}

.nav-tabs .nav-item.active {
    font-weight: bold;
    border-top: 7px solid #efdde3;
}

.nav-tabs .nav-item.active ~ .nav-item {
    border-top: 7px solid #f6f6f6;
}

.nav.nav-tabs {
    border: 0;
}

.tab-content {
    padding: 40px;
}

#nav-billing {
    margin-top: 17px;
}

h2.nav-billing-toptext {
    font-size: 18px;
}

h2.wizard-title {
    background-color: #efdde3;
    font-size: 18px;
    padding: 5px 21px 5px 10px;
    margin-top: 17px;
    font-weight: bold;
    letter-spacing: 0.4px;
    cursor: pointer;
    margin-bottom: 0;
}

form.checkout_coupon.woocommerce-form-coupon {
    display: block !important;
    padding: 0;
    border: 0;
}

.woocommerce-form-coupon-toggle {
    display: none;
}

span.woocommerce-input-wrapper input,
span.woocommerce-input-wrapper textarea,
span.woocommerce-input-wrapper select {
    border: 1px solid #acacac;
    font-weight: 100;
    padding: 7px 10px;
    font-size: 17px;
}

input#coupon_code, .coupon-input span.points {
    font-size: 17px;
}

.hidden-order-review {
    display: none;
    visibility: hidden;
}

.wc_payment_methods {
    display: none;
}

.tab-pane:not(.active) {
    display: none;
}

.coupon-input {
    display: inline-block;
    border: 1px solid black;
    text-align: left;
    margin-left: 20px;
}

.coupon-input button {
    border: 0;
}

.checkout-points {
    border-top: 1px solid #919191;
    padding-top: 25px;
    margin-top: 35px;
}

.coupon-input span.points, .coupon-input input {
    width: 275px;
    display: inline-block;
}

.coupon-input span.points {
    text-align: center;
}

.coupon-input button {
    cursor: pointer !important;
}

.coupon-input .tony-button.pink {
    border: 0 !important;
    border-right: 1px solid black !important;
}

div.points-collected {
    font-size: 18px;
    font-weight: 100;
}

/** Override the mess **/
#add_payment_method .cart-collaterals .cart_totals table th, .woocommerce-cart .cart-collaterals .cart_totals table th, .woocommerce-checkout .cart-collaterals .cart_totals table th {
    width: auto !important;
}

form.checkout.woocommerce-checkout {
    margin: 0;
}

.form-row input.input-text, .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    font-size: 16px;
}

.form-row input.input-text::placeholder, .form-row textarea::placeholder {
    font-size: 16px;
    font-weight: normal;
}

.woocommerce-NoticeGroup-checkout {
    display: none;
}

.auth {
    display: flex;
    margin: 38px 0 13px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*

.auth .login {

    padding-left: 30px;

    margin-left: 30px;

    border-left: 1px solid black;

    text-align: center;

    position: relative;

}

*/
.auth .login {
    text-align: center;
    position: relative;
    padding: 30px;
}

.auth .login, .auth .facebook {
    width: 49%;
    border: 1px solid #000;
    height: 95px;
    position: relative;
}

.auth .facebook .wc-social-login a {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background-size: 80%;
    max-width: 200px;
}

.auth .login h1 {
    font-size: 17px;
    margin-bottom: 1px;
}

.auth .login a {
    font-weight: 100;
    text-decoration: underline;
    font-size: 14px;
}

.hi {
    margin: 15px 0 10px 0;
}

.woocommerce form .woocommerce-billing-fields .form-row, .woocommerce form .woocommerce-shpping-fields .form-row {
    margin: 0 0 10px;
    position: relative;
}

#nav-billing .checkout-billing-form .form-row, #nav-billing .checkout-billing-form .form-row {
    width: 49%;
}

#nav-billing .checkout-billing-form .preholder, #nav-delivery .shipping_method .preholder, #nav-billing .checkout-billing-form .woocommerce-account-fields {
    display: none !important;
}

.checkout .woocommerce-billing-fields .mailchimp-newsletter {
    display: none;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    display: none;
}

.woocommerce-billing-fields label.checkbox span {
    font-size: 16px;
    font-weight: normal;
}

/*

::placeholder {

    font-size: 16px;

    font-weight: normal;

}

*/
#order_comments_field textarea {
    height: 120px;
}

span.preholder {
    position: absolute;
    top: 0px;
    font-size: 10px;
    right: 5px;
    display: none;
    padding: 3px;
}

.woocommerce-billing-fields p#billing_checkbox_field {
    padding: 7px 3px 3px 3px;
}

.checkout-button-wrapper a, .coupon-input button {
    background: #000;
    color: #fff !important;
    padding: 13px 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
}

.checkout-button-wrapper a:hover {
    background: #fff;
    color: #000 !important;
    border-color: #000;
}

.checkout-message {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px 10px 0;
}

.woocommerce-checkout-review-order-table .cart_totals table.shop_table {
    background: transparent;
    border: none;
    border-top: 1px solid #797979;
}

.woocommerce-checkout-review-order-table .cart_totals {
    padding-bottom: 0px;
}

.checkout-cart-container .woocommerce table.shop_table_responsive tbody tr.order-total {
    display: block;
}

.woocommerce-checkout .cart-collaterals .cart_totals tr.order-total th {
    border-top: none;
}

.woocommerce-checkout .cart-collaterals .cart_totals tr.order-total th p {
    display: inline;
    background: #fff;
    padding: 5px 15px;
}

.woocommerce-checkout .cart-collaterals .cart_totals tr.order-total th p .woocommerce-Price-amount {
    font-size: 16px !important;
}

.woocommerce-checkout-review-order-table .cart_totals table.shop_table tbody th {
    border-bottom: 1px solid #797979;
}

.woocommerce-checkout-review-order-table .cart_totals table.shop_table tbody th span.order-total-price {
    background: #fff;
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 10px;
}

.woocommerce-checkout-review-order-table .checkout-summary-cart-item .checkout-product-details {
    display: flex;
    justify-content: space-between;
}

.checkout .checkout-product-details .checkout-product-price {
    display: flex;
    margin-right: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: start;
}

.checkout .checkout-product-details .checkout-product-price .checkout-price.discount {
    color: #990000;
    padding-right: 5px;
}

.checkout .checkout-summary-cart-item span.woocommerce-Price-amount {
    position: initial;
}

.woocommerce-checkout-review-order-table .checkout-summary-cart-item .checkout-product-details, .woocommerce-checkout-review-order-table .checkout-summary-cart-item .checkout-product-price span {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 3px;
}

.woocommerce-checkout-review-order-table .checkout-summary-cart-item .checkout-product-variations span {
    font-size: 16px;
}

span.checkout-price {
    /*    color: #990000;*/
}

span.checkout-regular-price {
    text-decoration: line-through
}

.checkout-cart-container .woocommerce-checkout-payment {
    background: transparent;
    margin: auto;
}

.woocommerce-checkout-review-order-table .checkout-review-summary .shop_table .blockUI.blockOverlay,
.woocommerce-checkout-review-order-table .checkout-review-summary .shop_table .blockUI.blockElement,
.checkout-cart-container .woocommerce-checkout-payment .blockUI.blockOverlay,
.checkout-cart-container .woocommerce-checkout-payment .blockUI.blockElement {
    display: none !important;
}

#nav-coupons, #nav-delivery, #nav-payment {
    margin-top: 20px;
}

#nav-coupons h2.wizard-title {
    /*    margin-bottom: 30px;*/
}

#nav-coupons .coupon-input button {
    padding: 8px 23px;
}

#nav-coupons .wizard-item-content .woocommerce-error {
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: transparent;
    border-top: none;
    list-style: none outside;
    right: 0;
    bottom: -35px;
}

#nav-coupons .wizard-item-content .woocommerce-error::before {
    display: none;
}

#nav-coupons .wizard-item-content .woocommerce-message {
    background: none;
    border: none;
    margin: 0;
    position: absolute;
    bottom: -43px;
    padding-right: 20px;
}

#nav-coupons .wizard-item-content .woocommerce-message:before {
    right: 0;
}

#nav-coupons .wizard-item-content .woocommerce-error li {
    font-size: 16px;
    font-weight: normal;
    color: red;
    height: 40px;
    line-height: 40px;
}

.checkout-wizard-container .wizard-item-content .woocommerce-error {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #fff;
    color: red;
    border-top: none;
}

.checkout-wizard-container .wizard-item-content .woocommerce-error::before {
    display: none;
}

.checkout-wizard-container .wizard-item-content .woocommerce-error li {
    font-size: 14px;
}

.woocommerce-terms-and-conditions-wrapper, .order-next-stage {
    display: none;
}

.woocommerce-checkout #payment div.place-order {
    padding: 0;
}

a.button-social-login-facebook {
    background-image: url('../../images/checkout-facebook.png') !important;
    width: 220px;
    text-indent: -99999px;
}

a.button-social-login-facebook span {
    display: none !important;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none !important;
}

input[type="checkbox"] + span:before, input[type="radio"] + span:before {
    font: 12pt FontAwesome;
    content: '\00f096';
    display: inline-block;
    width: 16pt;
    padding: 3px 0px 3px 18px;
    margin-left: 0;
    margin-right: 0px;
    /*    border: 1px solid #000;*/
}

input[type="checkbox"]:checked + span:before, input[type="radio"]:checked + span:before {
    content: '\00f046';
    margin-right: 0px;
}

span.optional {
    display: none;
}

.wizard-item-content {
    display: none;
}

#nav-coupons .wizard-item-content {
    margin-top: 30px;
    position: relative;
}

.wizard-item-content .checkout-shipping abbr {
    display: none;
}

.blockscreen {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    opacity: 0.5;
    z-index: 2;
    display: none;
}

form.checkout .login-popup {
    position: absolute;
    background: #fff;
    right: -1px;
    top: 101%;
    z-index: 234;
    width: calc(100% + 2px);
    display: none;
    box-shadow: none;
}

form.checkout .auth .facebook .button-social-login-google {
    display: none;
}

form.checkout .login-popup h2.account {
    background: #f4eeea;
    border-bottom: none;
    font-size: 17px;
    padding: 8px 0;
}

form.checkout .login-popup .login-close {
    position: absolute;
    left: 10px;
    top: 6px;
    cursor: pointer;
    font-family: monospace;
}

form.checkout .login-popup .padded {
    width: 80%;
    /*    width: 50%;*/
    margin: 11px auto;
    padding: 0 7px;
}

form.checkout .login-popup .padded input {
    background: #fff;
    margin: 17px 0 0 0;
}

form.checkout .login-popup .padded .facebook, form.checkout .login-popup .padded .register {
    display: none;
}

form.checkout .login-popup .padded #loginId {
    display: block;
    direction: initial;
}

form.checkout .login-popup .padded .checkout-password {
    position: relative;
}

form.checkout .login-popup .padded .checkout-password a.forgot-pass {
    position: absolute;
    left: -75px;
    bottom: 0;
}

form.checkout .login-popup .padded .checkout-password .closed-eye {
    top: 30px;
}

form.checkout .login-popup .padded .checkout-password .opened-eye {
    top: 25px;
}

form.checkout .login-popup .padded a.login-popup-btn {
    text-align: center;
    width: 43%;
    margin: 17px auto 10px;
    padding: 8px 0;
    font-size: 14px;
    border: 2px solid #000;
}

form.checkout .login-popup .padded a.login-popup-btn:hover {
    border: 2px solid #000;
    color: #000;
    background: #fff;
}

form.checkout .login-popup .padded .login-error {
    color: #0000ff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

form.checkout .login-popup .padded .checkout-club {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: block;
}

form.checkout .reset_password input.validate {
    float: right;
    width: 60%;
    padding: 9px 10px 4px 0;
}

form.checkout .reset_password div button.tony-button {
    display: none;
}

form.checkout .reset_password button.woocommerce-Button {
    width: 100%;
    padding: 0.8em 1em;
    color: #fff;
    background: #000;
    margin: -3px -4px 0 0;
}

.checkout-btn {
    width: 360px;
    margin: 20px 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.payment-button-paypal {
    background-color: #f3f3f3;
    color: #000;
    padding: 13px 10px 7px;
}

.payment-button-paypal::after {
    content: ' ';
    background-image: url(../../images/btn-paypal.png);
    width: 94px;
    height: 31px;
    display: inline-block;
    margin-right: 10px;
}

.payment-button-pelecard {
    padding: 10px 10px 6px;
}

.payment-button-pelecard::after {
    margin-right: 10px;
    content: ' ';
    background-image: url(../../images/btn-secure.png);
    width: 94px;
    height: 35px;
    display: inline-block;
}

.payment-button-cheque::after {
    margin-right: 10px;
    content: ' ';
    background-image: url(../../images/btn-phone.png);
    width: 22px;
    height: 22px;
    display: inline-block;
}

.payment-button-cheque {
    background-color: #d5b3aa;
    color: #000;
    padding: 13.5px 10px;
}

@media screen and (max-width: 992px) {
    .checkout-wizard-container {
        padding: 0 2vw 200px 0;
        height: auto;
    }

    .checkout .auth {
        flex-direction: row;
        /*

                flex-direction: column;

                margin: 0;

        */
    }

    .auth .login {
        padding: 27px 0;
    }

    .full-height {
        justify-content: space-between;
    }

    a.button-social-login-facebook {
        max-width: auto !important;
    }

    .checkout-review-summary {
        overflow-y: initial;
    }

    .coupon-input span.points, .coupon-input input {
        width: auto;
    }

    .coupon-input span.points, .coupon-input {
        margin-left: 0;
    }

    .checkout-button-wrapper {
        text-align: center;
        margin: 20px 0;
        width: 100%;
        float: left;
    }

    #nav-coupons .wizard-item-content .woocommerce-error {
        left: calc(100% - 480px);
    }

    .auth .facebook .wc-social-login a {
        margin: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        right: 15px;
        width: auto;
        background-size: cover;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .checkout-cart-container {
            height: 100%;
        }

        .checkout-summary-cart-item {
            flex-direction: column;
            padding: 15px;
            margin-right: 0;
        }

        .checkout-summary-cart-item .product-name {
            justify-content: center;
        }

        .checkout-summary-cart-item .product-total {
            padding-right: 0px;
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    .checkout-wizard-container {
        height: auto !important;
        padding: 0 15px 40px;
    }

    .checkout-cart-container {
        padding: 0 4vw 6vw;
        height: auto;
    }

    .checkout .menubar-mobile {
        margin-top: 9px;
        margin-bottom: 22px;
    }

    .checkout .hamburger.hamburger--collapse {
        top: 9px;
    }

    .checkout .topicon.minicart {
        float: left;
        margin-top: 3px;
        margin-left: 12px;
    }

    .checkout .auth {
        flex-direction: row;
        margin-top: 10px;
    }

    .checkout a.button-social-login-facebook {
        width: auto;
    }

    .checkout .auth .login, .checkout .auth .facebook {
        width: 48%;
        border: 1px solid #000;
        padding: 0;
        height: 58px;
    }

    .checkout .auth .facebook .wc-social-login a {
        left: 15px;
        right: 15px;
        height: 35px;
        background-size: cover;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 131px;
    }

    .checkout .searchbox {
        display: none;
    }

    .checkout .auth .login h1 {
        font-size: 12px;
        margin-top: 16px;
    }

    .checkout .auth .login a {
        font-size: 12px;
    }

    .checkout form.checkout .login-popup {
        width: 100%;
        top: 65px;
        outline: 1px solid #fff;
    }

    .checkout .checkout-wizard-container .woocommerce {
        position: relative;
    }

    form.checkout .login-popup .padded .checkout-password a.forgot-pass {
        position: relative;
        left: 0;
        bottom: 0;
    }

    form.checkout .login-popup .padded a.login-popup-btn {
        width: 100%;
    }

    form.checkout .login-popup .padded {
        width: 80%;
    }

    .checkout h2.nav-billing-toptext {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        padding-top: 2px;
    }

    .checkout h2.wizard-title {
        font-size: 12px;
        padding: 8px 11px 5px 10px;
    }

    .checkout .checkout-message {
        font-size: 10px;
        padding: 7px 0px 10px 0;
    }

    .checkout #nav-billing .checkout-billing-form .form-row {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .checkout span.woocommerce-input-wrapper input {
        padding: 10px 15px;
    }

    .checkout .woocommerce-billing-fields {
        margin-top: -6px;
    }

    .checkout .woocommerce-billing-fields .mailchimp-newsletter {
        display: none
    }

    .checkout #nav-billing .checkout-billing-form .form-row#order_comments_field textarea {
        height: 116px;
    }

    #nav-coupons, #nav-delivery, #nav-payment {
        margin-top: 0px;
    }

    .checkout #nav-coupons h2.wizard-title {
        /*        margin-top: 12px;*/
        margin-bottom: 0;
    }

    .checkout #nav-coupons .coupon-input {
        width: 100%;
        text-align: right;
        margin-top: 20px;
    }

    .checkout #nav-coupons .coupon-input button {
        float: left;
        padding: 5px 24px;
    }

    .checkout #nav-coupons input#coupon_code {
        font-size: 10px;
        padding: 8px 12px 0 0;
    }

    .checkout #nav-coupons .checkout-button-wrapper {
        margin: 40px 0 20px 0;
    }

    .checkout .checkout-button-wrapper a, .coupon-input button {
        padding: 11px 9px;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.5px;
        cursor: pointer;
    }

    .checkout #nav-delivery h2.wizard-title {
        /*        margin-top: 13px;*/
    }

    .passReset-form {
        display: block;
    }

    .passReset-form input, .passReset-submit {
        width: 100%;
    }

    .passReset-submit {
        margin-right: 0;
        margin-top: 15px;
    }

    #nav-coupons .wizard-item-content .woocommerce-error {
        width: 100%;
        text-align: right;
        position: absolute;
        bottom: -6px;
    }

    #nav-coupons .wizard-item-content .woocommerce-error li {
        height: 10px;
        line-height: 30px;
        font-size: 14px;
    }

    .checkout-shipping {
        margin-bottom: 30px;
    }

    .checkout-shipping-fields .checkout-street, .checkout-shipping-fields .checkout-city {
        width: 100%;
    }

    .checkout-shipping-fields .checkout-house, .checkout-shipping-fields .checkout-appartment {
        width: 50%;
    }

    #nav-delivery ul#shipping_method li .shipping-fields-container p.checkout-comments {
        width: 100%;
    }

    .checkout-summary-cart-item .product-total {
        padding-top: 0;
    }

    .woocommerce-checkout-review-order-table .checkout-summary-cart-item .checkout-product-price {
        padding-right: 0;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        width: 50%;
    }

    .woocommerce-checkout-review-order-table .checkout-summary-cart-item span.woocommerce-Price-amount {
        position: initial;
    }

    .woocommerce-checkout-review-order-table .checkout-summary-cart-item span.woocommerce-Price-amount.amount {
        font-size: 14px !important;
        padding-right: 5px;
    }

    .woocommerce-checkout .cart-collaterals .cart_totals tr th {
        border-top: none;
    }

    .checkout-cart-container h1.order-checkout {
        display: none;
    }

    .checkout-cart-container h2.order-totals {
        margin-top: 20px;
    }

    .woocommerce-billing-fields label.checkbox span {
        margin-right: 15px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: -4px;
    }

    .checkout-buttons .checkout-btn {
        width: 100%;
    }

    #nav-delivery .checkout-shipping span.select2-container {
        width: auto !important;
    }

    #nav-billing .checkout-billing-form p.form-row.woocommerce-invalid::after {
        bottom: -18px;
    }

    #nav-billing .checkout-billing-form #billing_checkbox_field {
        margin: 10px;
    }

    form.checkout.woocommerce-checkout .wc_coupon_message_wrap {
        padding: 0 !important;
    }

    form.checkout.woocommerce-checkout .woocommerce-notices-wrapper {
        margin-top: 0;
    }

    #nav-coupons .wizard-item-content {
        margin-top: 0px;
    }

    .checkout .checkout-product-details .checkout-product-price .checkout-price.discount {
        padding-right: 0;
    }

    .woocommerce-checkout-review-order-table .checkout-summary-cart-item .checkout-product-price span {
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    .checkout .auth .login h1 {
        font-size: 12px;
        margin-top: 16px;
    }

    .checkout .auth .login a {
        font-size: 3vw;
    }
}

.FlyingCargo_site_link { text-decoration:underline !important;} 
