.checkout-cart-container {
    background-color: #f6f6f6;
    padding: 4vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.woocommerce-checkout-review-order-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

}

.checkout-wizard-container {
    padding: 4vw 4vw 0;
    height: 100%;
}

p.hidden {
    display: none;
}

.woocommerce ul#shipping_method {
    padding: 20px;
}

@media screen and (min-width: 1920px) {
    .checkout-wizard-container, .checkout-cart-container {
        padding: 6vw;
    }
}

h2.order-totals {
    font-weight: bold;
    font-size: 20px;
}

.woocommerce.cart-collaterals {
    border: 0;
    text-align: center;
}

.checkout-review-summary {
    overflow-y: scroll;
    direction: ltr;
}

img.attachment-woocommerce_thumbnail {
    width: 100px;
    height: auto;
}

.checkout-summary-cart-item {
    display: flex;
    margin: 20px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 10px;
    position: relative;
}

.woocommerce a.remove
{
    display: none;
}

.checkout-button-wrapper {
    text-align: left;
    margin-top: 40px;
}

.checkout-summary-cart-item span.woocommerce-Price-amount
{
    position: absolute;
    left: 0;
    bottom: 7px;
    font-weight: 600;
    font-size: 17px;
}
.checkout-summary-cart-item .product-total {
    font-weight: 100;
    padding-right: 10px;
    margin-top: 0;
    line-height: 16px;
    font-size: 19px;
}
.checkout-summary-cart-item .product-quantity
{
    position: absolute;
    bottom: 9px;
    right: 110px;
    direction: ltr;
    font-weight: 100;
}

.nav-tabs .nav-item, .nav-tabs .nav-item:hover {
    flex: 1;
    border: 0;
    font-weight: 100;
    font-size: 17px;
    border-radius: 0;
    border-top: 7px solid #efdde3;
}
.nav-tabs .nav-item.active {
    font-weight: bold;
    border-top: 7px solid #efdde3;
}

.nav-tabs .nav-item.active ~ .nav-item {
    border-top: 7px solid #f6f6f6;
}
.nav.nav-tabs {
    border: 0;
}
.tab-content {
    padding: 40px;
}

h2.wizard-title {
    background-color: #efdde3;
    font-size: 18px;
    padding: 5px 10px;
}
form.checkout_coupon.woocommerce-form-coupon {
    display: block !important;
    padding: 0;
    border: 0;
}
.woocommerce-form-coupon-toggle {
    display: none;
}

span.woocommerce-input-wrapper input,
span.woocommerce-input-wrapper textarea,
span.woocommerce-input-wrapper select
{
    border: 1px solid black;
    font-weight: 100;
    padding: 5px 15px;
    font-size: 17px;
}
input#coupon_code, .coupon-input span.points {
    font-size: 17px;
}
.hidden-order-review {
    display: none;
    visibility: hidden;
}
.wc_payment_methods {
    display: none;
}
.tab-pane:not(.active) {
    display: none;
}
.coupon-input
{
    display: inline-block;
    border: 1px solid black;
    text-align: left;
    margin-left: 20px;
}
.coupon-input button {
    border: 0;
}
.checkout-points {
    border-top: 1px solid #919191;
    padding-top: 25px;
    margin-top: 35px;
}
.coupon-input span.points, .coupon-input input {
    width: 250px;
    display: inline-block;
}
.coupon-input span.points {
    text-align: center;

}
.coupon-input button{
    cursor: pointer !important;
}
.coupon-input .tony-button.pink {
    border: 0 !important;
    border-right: 1px solid black !important;
}
div.points-collected
{
    font-size: 18px;
    font-weight: 100;
}

/** Override the mess **/
#add_payment_method .cart-collaterals .cart_totals table th, .woocommerce-cart .cart-collaterals .cart_totals table th, .woocommerce-checkout .cart-collaterals .cart_totals table th {
    width: auto !important;
}
form.checkout.woocommerce-checkout {
    margin: 0;
}

.form-row input.input-text, .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
}
.woocommerce-NoticeGroup-checkout {
    display: none;
}

.auth {
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.auth .login {
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid black;
    text-align: center;
    position: relative;
}
.auth .login h1 {
    font-size: 24px;
}

.auth .login a {
    font-weight: 100;
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .auth .login {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 20px;
        border: 0;
    }
}

@media screen and (max-width: 678px) {
    .checkout-wizard-container {
        height: auto !important;
        padding-bottom: 40px;
    }
}

a.button-social-login-facebook {
    background-image: url('../../images/fb.jpg') !important;
    width: 270px;
    text-indent: -99999px;
}

a.button-social-login-facebook span {
    display: none !important;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none !important;
}
input[type="checkbox"] + span:before, input[type="radio"] + span:before {
    font: 12pt FontAwesome;
    content: '\00f1db';
    display: inline-block;
    width: 16pt;
    padding: 3px 4px 3px 18px;
    margin-left: 0.5em;
    border: 1px solid #000;
}
input[type="checkbox"]:checked + span:before, input[type="radio"]:checked + span:before {
    content: '\00f111';
}
span.optional {
    display: none;
}
.wizard-item-content {
    display: none;
}