.login-popup
{
    position: absolute;
    background: #f3f3f3;
    right: -30px;
    top: 60px;
    z-index: 234;
    width: 250px;
    display: none;
	box-shadow: 4px 4px 10px #ccc;
}

.login-popup .padded {
    padding: 0 10px;
    margin-top: 7px;
}
.topicon.login .login-popup .padded .facebook a.button-social-login-google{
    display: none;
}
.login-popup input {
    background: #f3f3f3;
    width: 100%;
    border: 1px solid black;
    color: #000;
    font-weight: normal;
    margin: 11px 0 0 0;
    padding: 5px 7px;
    font-size: 14px;
}
.login-popup input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: normal;
}
.login-popup .gtModal .modal-dialog .modal-content input {
    background: initial;
    font-size: initial;    
}
.login-popup .gtModal .modal-dialog .modal-content input[type="checkbox"] {    
    width: auto;
    border: none;
    margin: 0;
    padding: 0;
}
.login-popup a.login-popup-btn
{
    background-color: black;
    color: white;
    padding: 7px 0;
    font-size: 16px;
    margin: 8px 0;
    display: block;
    font-weight: bold;
}

a.forgot-pass, a.forgot-pass-mobile {
    text-align: left;
    text-decoration: underline;
    display: block;
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 400;
    margin-top: 4px;
}
a.forgot-pass-mobile{
    display: none;
}
.login-error {
    color: #ff5658;
}

.login-success {
    color: #378d3b;
}

h2.account {
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    padding: 7px;
    margin-bottom: 0;
}
.topicons-right .login-popup .login-close{
    position: absolute;
    left: 10px;
    top: 4px;
    cursor: pointer;
    font-family: monospace;
}
.account-logged-in {
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
.account-logged-in .logout-link {
    font-weight: bold;
    text-decoration: underline;
}
.account-logged-in span, .account-logged-in a {
    font-size: 14px;
    font-weight: bold;
}
p.register {
    color: #838383;
}

p.register, p.register a {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
p.register a {
    text-decoration: underline;
    margin-right: 4px;
}
.account-logged-in.account-popup-link
{
    background-position: right center;
    background-repeat: no-repeat;
    padding: 8px 33px 5px 0;
    background-size: 20px;
}
.account-logged-in.account-popup-link.my-account {
    background-image: url('../../images/person.png');
}
.account-logged-in.account-popup-link.my-orders {
    background-image: url('../../images/orders.png');
}
.account-logged-in.account-popup-link.my-points {
    background-image: url('../../images/benefit.png');
}
.account-logged-in.account-popup-link.my-wishlist {
    background-image: url('../../images/mywishlist-myaccount-image.png');
}

@media screen and (max-width: 768px){
    a.forgot-pass{
        display: none;
    }
    a.forgot-pass-mobile{
        display: block;
    }
}