div.overlay {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}
ul.slides {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}
ul.slides li {
    list-style-type: none;
}
ul.slides > li + li {
    display: none !important;
}
ul.slides li img.bg {
    width: 100%;
    height: auto;
}


ul.slides li img.bg-mobile {
    width: 100%;
    height: auto;
    display: none;
}

ul.slides li {
    list-style: none;
    list-style-type: none;
    width: 100%;
    padding: 0;
    position: relative;
}

ul.slides .slides li .overlay {
    position: absolute;
    top: 160px;
    width: 100%;
    text-align: center;
}

ul.slides .slides li .overlay h2 {
    font-family: 'Varela Round';
    color: #ffffff;
    font-size: 48px;
    margin: 30px;
}

ul.slides .slides li .overlay a {
    background-color: #33b6d2;
    padding: 7px 12px;
    color: #FFF;
    font-weight: 100;
    border-radius: 109px;
}
ul.slides .slides li img.bg {
    width: 100%;
}
@media screen and (max-width: 768px) {
    
    ul.slides li img.bg {
    height: 267px;
    object-fit: cover;
        /*display: none;*/
        display: block;
}
    

    ul.slides li img.bg-mobile {
        display: block;
    }
}
.flex-direction-nav { z-index:1000; }