.fixed{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    height: 80px;
    top: 0;
}
.fixed .topicons-right, .fixed .top-stripe, .fixed .topicon span.topicon-text, .fixed .topicons-left .login .logout-link{
    display: none;
}
.fixed .topicons-left{
    display: none;
}
.fixed .topicons-right{
    right: 10px;
    z-index: 1;
    display: block;
    width: 230px;
}
.fixed .topicons-left .topicon{
    margin-top: 0;
    margin-right: 40px;
}
.fixed a#logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    line-height: 80px;
    margin: 0;
    padding: 0;
}
.fixed .menubar{
   position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin-top: 0;
    max-width: 59%;
    margin: 0 auto;
}

.fixed ul.nav li {
    margin-right: 0%;
    margin-left: 0%;
}

.fixed ul.nav li.menu-sale a {
    position: relative;
    top: -2px;
}

.fixed .menubar ul.nav li a{
        padding: 0 16px;
}
.fixed .menubar ul.sub-menu{
    margin-top: 0px;
}
.fixed .mini-cart-wrapper {
    left: auto;
    right: 0;
}

.buffer {
    margin-top: 183px;
}

@media screen and (max-width: 786px) {
    .fixed {
        display: none !important;
    }
}