.topbar-group {
    display: flex;
}

@media (min-width: 1120px) {
    .container {
        max-width: 1112px;
    }

    .fixed .menubar {
        max-width: 66%;
    }
}


.top-stripe {
    background-color: #cdb6ac;
    width: 100%;
    text-align: center;
    padding: 6px;
}
.top-stripe a{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: underline;
}

.container.padmenot.topicons-container {
    padding: 0 15px !important;
}

.topicon {
    float: right;
    margin-top: 25px;
    text-align: center;
    margin-left: 12px;
}
.topicon img{
    width: 80%;
    height: auto;
}
.topicon .search-toggle img.topicon-image{
    width: 42%;
}
.topicon.active {
    border-bottom: 4px solid #d6be7d;
    z-index: 10;
    padding-bottom: 5px;
}
.topicon.active .login-popup .facebook a.button-social-login-google{
    display: none;
}
span.topicon-text {
    display: none;
    color: #000;
    font-size: 14px;
}
a.search-toggle img {
    margin-left: 31px;
}

.search-input {
    float: right;
    margin-top: 18px;
/*     margin-right: 0px; */
/*     margin-left: 200px; */
	margin-right: 20px;
 margin-left: 20px;
/*     overflow: visible; */
	overflow: hidden;
    width: 0;
}
.we-are-here .we-are-here-box img {
    width: 16%;
    padding: 1px 0 2px 3px;
}
.we-are-here .we-are-here-box .we-are-here-drop img {
    width: 13%;
}
.we-are-here .we-are-here-box .we-are-here-drop img.separator {
    width: 100%;
    padding: 0;
}
#seacrhTerm {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
}


.topicons-container {
    position: relative;
}
.topicons-container a#logo
{
    float: none;
    overflow: hidden;
    display: inline-block;
}
.topicons-container a#logo img {
    width: 80%;
}
.topicons-left {
    position: absolute;
    left: 10px;
    top: 0;
}
.topicon.location a{
    font-size: 14px;
}
.topicon.location img{
    width: 35%;
    padding-left: 3px;
}
.topicon.location img:hover{
    width: auto;
}
.topicons-left .topicon {
    margin-left: 5px;
    margin-right: 21px;
}
.topicons-right {
    position: absolute;
    top: 0;
}

a#logo {
    float: right;
    padding: 10px 0;
}
.topicon.location {
    padding-top: 5px;
    margin-left: -10px;
}
.topicon.location:hover{
}

@media screen and (min-width: 768px) {
    .toptop {
        position: fixed !important;
        z-index: 1770;
    }
}
@media screen and (max-width: 768px) {
    
    .we-are-here .we-are-here-box img {
        display: none;
    }
    .we-are-here .we-are-here-box .we-are-here-drop img {
        display: inline;
    }
        .topicon {
        margin-top: 0;
    }
    .topicons-left .topicon {
        margin-right: 0;
        width: 100%;
    }
    .topicons-right {
        display: flex;
        flex-direction: row-reverse;
    }
    .topicon.wishlisticon img.topicon-image {
        width: 25px;
    }
}


/*
.topicon.wishlisticon img, .topicon.minicart img, .topicon.login img{
    width: 85%;
}
.topicon .search-toggle img{
    width: 42%;
}*/
