@font-face {
    font-family: 'NarkisBlockMFW';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/NarkisBlock-Medium_MFW.eot'); /* IE9 Compat Modes */
    src: url('fonts/NarkisBlock-Medium_MFW.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/NarkisBlock-Medium_MFW.woff') format('woff'), /* Modern Browsers */
    url('fonts/NarkisBlock-Medium_MFW.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/NarkisBlock-Medium_MFW.svg#NarkisBlockMFW-Medium') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'NarkisBlockMFW';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/NarkisBlock-Regular_MFW.eot'); /* IE9 Compat Modes */
    src: url('fonts/NarkisBlock-Regular_MFW.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/NarkisBlock-Regular_MFW.woff') format('woff'), /* Modern Browsers */
    url('fonts/NarkisBlock-Regular_MFW.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/NarkisBlock-Regular_MFW.svg#NarkisBlockMFW-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'NarkisBlockMFW';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('fonts/NarkisBlock-Thin_MFW.eot'); /* IE9 Compat Modes */
    src: url('fonts/NarkisBlock-Thin_MFW.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/NarkisBlock-Thin_MFW.woff') format('woff'), /* Modern Browsers */
    url('fonts/NarkisBlock-Thin_MFW.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/NarkisBlock-Thin_MFW.svg#NarkisBlockMFW-Thin') format('svg'); /* Legacy iOS */
}