.menu-item {
    display: block;
}

li.menu-item a {
    padding: 5px;
}

li.current-menu-item a {
    color:#FFFFFF;
}

.menu-item:focus, .menu-item:hover {
    text-decoration: none;
}

.menu-item.disabled {
    color: #868e96;
}

.slider-wrapper {
    position: relative;
}

.menubar {
    text-align: center;
    position: relative;
}

.menubar #logo img {
    height: 60px;
}

.menu-primary-menu-container {
    position: absolute;
    top: 0;
}

.nav-right li, .nav-left li {

    list-style-type: none;
}

.nav-right {
    margin: auto;
    justify-content: center;
}

.menu-right {
    margin: auto;
}

ul.nav li a {
    font-size: 18px;
    padding: 10px 20px;
    display:block;
}

.menubar-mobile {
    display: none;
}
#menu-mobile {
    display: none;
}

ul.nav li.current-menu-item a {
    color: #000;
}

ul.nav li:hover a, .footer li:hover a {
    text-decoration: none;
}

li:hover ul.sub-menu {
    display: flex;
}

ul.sub-menu {
    position: absolute;
    width: 100%;
    right: 0;
    padding-top: 20px;
    z-index: 99;
    display: none;
    background: rgb(255, 255, 255, 0.98);
/* 	background: rgb(255, 255, 255, 0.85); */
    padding-bottom: 25px;
    border-top: 1px solid black;
    padding-right: 0;
}


ul.sub-menu .submenu-wrapper {
    width: 50%;
    padding: 0 40px;
    text-align: right;
    border: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 180px;
	padding-top: 20px !important;
}

ul.sub-menu .submenu-wrapper .submenu-wrapper, ul.sub-menu .submenu-wrapper .submenu-wrapper .submenu-wrapper {
    padding: 0;
}

ul.nav li {
    margin-right: 20px;
}
ul.nav li ul li, ul.nav li ul li ul li  {
    margin-right: 0;
}

ul.nav li.menu-item-has-children:hover a {
    position: relative;
}
ul.nav li.menu-item-has-children:hover a::after{
    content: ' ';
    width: 100%;
    position: absolute;
    background-color: black;
    height: 3px;
    left: 0;
    bottom: -2px;
    z-index: 100;
}
ul.nav li.menu-item-has-children:hover ul li a::after, ul.nav li ul li a::after{
    content: '' !important;
    display: none !important;
}
ul.nav li.menu-item-has-children::before{
    content: ' ';
    width: 100%;
    height: 20px;
}
ul.nav li.menu-item-has-children:hover ul li, ul.nav li ul li {
    background: transparent;
    color: #000 !important  ;
    border-bottom: none !important;
}
ul.nav li.menu-item-has-children:hover ul li a, ul.nav li ul li a {
    background: transparent;
    color: #000 !important;
    padding: 5px;
    height: auto;
    font-weight: 100;
}
ul.nav li ul li a:hover {
    /*color: #33b6d2 !important*/
}
ul.sub-menu ul.sub-menu {
    position: inherit;
    width: auto;
    background: transparent;
    right: auto;
    padding: 0;
    border-top: 0;
}
ul.nav li.menu-item-has-children ul.sub-menu li a {
    display: inline-block;
}
ul.nav li.menu-item-has-children ul.sub-menu li a:hover {
    font-weight: bold;
}
.mega-banners {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.mega-banner a::after {
    text-decoration: none;
    display: none;
}
.mega-banner a
{
    text-align: left;
    direction: ltr;
    color: black !important;
    text-decoration: underline;
    font-weight: 200;
}
ul.sub-menu .mega-banner a span{
	text-decoration: underline;
}
ul.sub-menu .mega-banner a img{
	margin-bottom: 15px
}
ul.nav li ul.sub-menu li ul.sub-menu li a {
    color: #000 !important;
    border-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    padding: 0px;
    margin: 0;
    height: auto;
}
ul.nav li ul.sub-menu li ul.sub-menu li {
    float: none;
    margin-left: auto;
    display: block;
    margin: 0;
}
ul.nav li ul.sub-menu li ul.sub-menu li a:hover {
    /*color: #33b6d2 !important*/
}

ul.nav li ul.sub-menu li {
    margin: 0 35px;
    vertical-align:top;
}


.menubar .menu-right,
.menubar .menu-left
{
    margin-top: 0px;
}
.menubar .menu-right ul#menu-menu-main
{
    display: table;
    margin: 0px auto;
    float: none;
}

/** Mobile Menu **/
#menu-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 10;
}

.mobile-menu-title {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #cacaca;
    display: inline-block;
    padding: 0 10px 10px 0;
}

.mobile-menu-close
{
    position: absolute;
    left: 25px;
    top: 22px;
}

a.mobile-login-link {
    background-image: url('../images/mobile-login.png');
    width: 200px;
    display: block;
    height: 50px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50px;
    padding: 10px 0 0 0;
    font-size: 18px;
    margin: 4px auto 20px;
}

#menu-mobile ul {
    list-style-type: none;
    padding: 0;
}

#menu-mobile ul li {
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: right;
    cursor: pointer;
    position: relative;
}

#menu-mobile ul li img {
    height: 100px;
    float: right;
}

#menu-mobile ul li a {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#menu-mobile ul.submenu {
    display: none;
}

.mobile-menu-back-button {
    display: none;
    padding: 5px 0 0;
    margin-bottom: 20px;
    position: relative;
}

.mobile-menu-back-button a.back {
    position: absolute;
    left: 20px;
    top: 0;
}

ul.mobile-bottom-menu {
    margin-top: 50px;
}

ul.mobile-bottom-menu li {
    background-color: #FFF !important;
    border-bottom: 1px solid #d9d9d9;
    min-height: 35px !important;
}

/** End mobile menu **/

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    z-index: 11;
    position: absolute;
    right: 0;
    top: 0px;
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 32px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 32px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
