input.actual-quantity {
    display: inline-block;
    width: 20px;
    border: 0;
    text-align: center;
}
.widget_shopping_cart_content {
    padding-bottom: 385px;
}
.woocommerce-mini-cart__empty-message
{
    text-align: center;
}

.mini-cart-handle {
    padding: 30px;
    text-align: left;
}

.mini-cart-handle a {
    cursor: pointer;
}
p.cart-invite {
    font-size: 21px;
    padding: 30px 0 0;
}
a.get-started {
    font-size: 20px;
    padding: 5px 30px;
}
a.get-started span {

}
.mini-cart-message {
    background-color: #edd7de;
    font-weight: 600;
    font-size: 22px;
    padding: 20px;
}

.mini-cart-wrapper {
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 9;
    display: none;
    min-width: 300px;
    top: -20px;
    left: -20px;
}
.topicon.minicart {
    position: relative;
}
ul.woocommerce-mini-cart {
    list-style-type: none;
    padding: 25px 15px 0;
    max-height: 465px;
    direction: ltr;
    margin-right: 10px;
    overflow-y: scroll;
}
.mini-cart-toggle {
    cursor: pointer;
}
ul.woocommerce-mini-cart li.woocommerce-mini-cart-item {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

ul.woocommerce-mini-cart li img.attachment-woocommerce_thumbnail {
    width: 100px;
    margin: 0 0 0 10px;
    height: auto;
}
.mini-thumb, .mini-name, .mini-details {
    float: right;
}
.mini-name, .mini-details {
    width: 100%;
    text-align: right;
    margin-right: 10px;
}
.mini-name {
    color: #000;
    font-weight: 900;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 10px 0 0;
}
ul.woocommerce-mini-cart li a.remove_from_cart_button {
    position: absolute;
    bottom: 3px;
    left: 10px;
    color: black;
    font-size: 45px;
    font-weight: 100;
    line-height: 10px;
}
ul.woocommerce-mini-cart li a.remove_from_cart_button:hover {
    text-decoration: none;
}
.mini-details .variation{
    display: none;
}
.mini-details .quantity {
    display: block;
}
.mini-details .amount {
    font-size: 18px;
}
.mini-details .amount .woocommerce-Price-currencySymbol {
    font-size: 14px;
}

p.woocommerce-mini-cart__total.total {
    text-align: center;
}

.woocommerce-mini-cart__buttons {
    display: flex;
    justify-content: space-evenly;
}
.woocommerce-mini-cart__buttons .button {
    float: none;

    margin-top: 0;
    padding: 7px 35px;
}

.mini-cart-quantity {
    border: 1px solid #acacac;
    padding: 5px 10px;
/*    padding: 5px;*/
    font-weight: 800;
    position: absolute;
    display: inline-block;
    bottom: 0;
}

.mini-cart-quantity span.actual-quantity {
    padding: 0 20px;
/*    padding: 0 10px;*/
}

.set-item-quantity {
    cursor: pointer;
    font-size: 22px;
}

.mini-count {
    position: absolute;
    width: 38px;
    top: 6px;
    text-align: center;
    left: 0;
    font-size: 14px;
}
.topicon.minicart .mini-cart-wrapper .widget_shopping_cart_content .cart-padding .tony-button.wide{
    display: block;
    margin: 0 10px;
}

.actual-quantity
{
    text-align: center;
    display: inline-block;
    width: 20px;
    border: 0;
    direction: ltr;
}
@media screen and (max-width: 768px) {
    .mini-cart-wrapper {
        left: 0;
    }
}