.gtModal {
    background: transparent;
    margin-top: 200px;
}

.gtModal .modal-content {
    background: transparent;
    border: 0;
    border-radius: 0;
    outline: 2px solid white;
    z-index: 2;
    padding: 20px 20px 50px;
}

.gtModal .modal-dialog {
    background: transparent;
}

.gtModal .modal-bg-blue {
    background-color: #1fc5e9;
    position: absolute;
    top: -20px;
    left: 20px;
    right: -20px;
    bottom: 20px;
}

.gtModal .popup-image {
    width: 100%;
}

.gtModal.shviroPopup .modal-content {
    background-color: #1e1e1e;
    opacity: .9;
    outline: 0;
}

.gtModal.shviroPopup .sh-title.smaller.white {
    color: white;
}

.gtModal.shviroPopup .sh-title.smaller.white sub {
    font-size: 80px;
    bottom: -60px;
    right: -50px;
    color: #fdba12;
}
.gtModal.shviroPopup .buttons-wrapper {
    margin-top: 20px;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 20px;
}
.gtModal.shviroPopup .buttons-wrapper {
    justify-content: flex-end;
}
.gtModal.shviroPopup .buttons-wrapper a.button {
    float: left;
    background-color: #19c6eb;
    color: #FFFFFF;
}
.gtModal .modal-bg-grey {
    background-color: #1e1e1e;
    position: absolute;
    top: -20px;
    left: 20px;
    right: -20px;
    bottom: 20px;
    opacity: 0.7;
}

.gtModal .woocommerce-product-gallery__image img {
    width: 100%;
    height: auto;
}

.gtModal button.close
{
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 1;
    font-size: 39px;
    font-weight: 100;
    color: white;
}
.sh-title.smaller.white {
    padding: 0;
    font-size: 55px;
    margin-bottom: 40px;
}
.sh-title.smaller.white sub {
    font-size: 60px;
    bottom: -24px;
    right: -50px;
    color: #FFFFFF;

}
.gtModal .product_title.entry-title{
    font-size: 24px;
    border-bottom: 1px solid;
}
.gtModal .buttons-wrapper{
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gtModal .buttons-wrapper a.button
{
    background-color: white;
    border-radius: 25px;
    padding: 10px 25px;
    margin-top: 15px;
    display: block;
    font-size: 20px;
}
.gtModal .buttons-wrapper h1{
    flex-basis: 100%
}