form.newsletter-form {
    position: relative;
    max-width: 300px;
    font-size: 16px;
}

form.newsletter-form label {
    font-size: 16px;
    margin-top: 12px;
}
form.newsletter-form label span a{
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
}
form.newsletter-form label input {
    margin-left: 5px;
}
form.newsletter-form label span{
    font-size: 16px;
}
form.newsletter-form a.newsletter-submit {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

form.newsletter-form input.newsletter {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    color: #F0F0F0;
    padding: 0px 0 5px;
    font-size: 16px;
}
form.newsletter-form input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
form.newsletter-form input[type="checkbox"] + span:before {
    font: 9pt FontAwesome;
    content: '\00f1db';
    display: inherit;
    padding: 1.3px 3px;
    margin-left: 0.5em;
    border: 1px solid #fff;
    border-radius: 50%;
}
form.newsletter-form input[type="checkbox"]:checked + span:before {
    content: '\00f111';
}