h2.best-match {
    text-align: center;
    margin-bottom: 35px;
}

h1.best-match {
    text-align: center;
    font-size: 54px;
    font-weight: 300;
    margin-top: 35px;
}

.xsell-container {
    position: relative;
    margin: 100px auto;
}

.xsell-products {
    justify-content: center;
}

.xsell-products .thumb-wrapper {
    overflow: hidden;
}

.xsell-products .thumb-wrapper img, .xsell-products .thumb-wrapper a.thumb-link {
    width: 100%;
}

.product-wrapper {
    display: inline-block;
    width: auto;
}