/* assistant-regular - latin_hebrew */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/assistant-v4-latin_hebrew-regular.eot'); /* IE9 Compat Modes */
    src: local('Assistant'), local('Assistant-Regular'),
    url('fonts/assistant-v4-latin_hebrew-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/assistant-v4-latin_hebrew-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/assistant-v4-latin_hebrew-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/assistant-v4-latin_hebrew-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/assistant-v4-latin_hebrew-regular.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-600 - latin_hebrew */
@font-face {
    font-family: 'assistantsemibold';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/assistant-v4-latin_hebrew-600.eot'); /* IE9 Compat Modes */
    src: local('Assistant SemiBold'), local('Assistant-SemiBold'),
    url('fonts/assistant-v4-latin_hebrew-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/assistant-v4-latin_hebrew-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/assistant-v4-latin_hebrew-600.woff') format('woff'), /* Modern Browsers */
    url('fonts/assistant-v4-latin_hebrew-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/assistant-v4-latin_hebrew-600.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-800 - latin_hebrew */
@font-face {
    font-family: 'assistantextrabold';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/assistant-v4-latin_hebrew-800.eot'); /* IE9 Compat Modes */
    src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'),
    url('fonts/assistant-v4-latin_hebrew-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/assistant-v4-latin_hebrew-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/assistant-v4-latin_hebrew-800.woff') format('woff'), /* Modern Browsers */
    url('fonts/assistant-v4-latin_hebrew-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/assistant-v4-latin_hebrew-800.svg#Assistant') format('svg'); /* Legacy iOS */
}