.current_password, .new_password, .confirm_new_password{
    position: relative;
}
.closed-eye{
    position: absolute;
    left: 15px;
    top: 15px;
}
.opened-eye{
    position: absolute;
    left: 15px;
    top: 10px;
    display: none;
}
.myaccount_shipping_fields {
    display: none;
}
td.woocommerce-table__product-checkbox.product-checkbox {
    display: table-cell !important;
}
td.woocommerce-table__product-checkbox.product-checkbox input[type="checkbox"] {
    -webkit-appearance: checkbox;
}
.contact-banner img {
    width: 100%;
}

.sidemenu-banner h1 {
    line-height: 20px;
    text-align: center;
}
.orders-to-return
{
    /*        width: 60%;*/
    margin: auto;
    display: none;
}
.returns-thanks {
    margin: auto;
    text-align: center;
    display: none;
}
table.order-customer-details, .order-details-summary {
    display: none;
}

a.submit-return {
    background: black;
    color: white;
    padding: 15px 30px;
    display: inline-block;
    margin: 0 0 20px;
}

td.woocommerce-table__product-checkbox.product-checkbox {
    display: table-cell !important;
}
td.woocommerce-table__product-checkbox.product-checkbox input[type="checkbox"] {
    -webkit-appearance: checkbox;
}
.contact-banner img {
    width: 100%;
}

.sidemenu-banner h1 {
    line-height: 20px;
    text-align: center;
}
.orders-to-return
{
    /*        width: 60%;*/
    margin: auto;
    display: none;
}
.returns-thanks {
    margin: auto;
    text-align: center;
    display: none;
    margin-top: 38px;
}
.returns-thanks .contact-thankyou-imagetop {
    margin-bottom: 1rem;
}
.returns-thanks .contact-thankyou-imagetop img{
    width: 20%;
}
.returns-thanks .contact-thankyou-imagebottom img{
    position: absolute;
    right: 0px;
    top: 280px;
    width: 18%;
}
table.order-customer-details, .order-details-summary {
    display: none;
}

a.submit-return {
    background: black;
    color: white;
    padding: 15px 30px;
    display: inline-block;
    margin: 0 0 20px;
}

.account-points {
    padding: 30px;
    text-align: center;
}
.account-points h2 {
    margin-bottom: 40px;
}

.points-row-header, .points-row {
    display: flex;
    justify-content: center;
}

.points-row-header .points-col  {
    font-weight: bold;
}

.points-col {
    width: 20%;
    text-align: center;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {

    .points-row-header {
        display: none;
    }
    .points-row {
        border: 1px solid black;
        text-align: center;
        width: 60%;
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }

    .points-col {
        width: 100%;
        text-align: center;
        border: 0;
    }

    .my-account-container {
        display: block;

    }

    .my-account-nav
    {
        width: auto;
    }

}