.form-row.place-order {
    display: none;
}

.checkout-cart-container {
    background-color: #f6f6f6;
    padding: 4vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.checkout-shipping-fields {
    display: none;
}

p.woocommerce-invalid::after {
    content: attr(error-message);
    display: block;
    color: #f35555;
    font-size: 14px;
    font-weight: bold;
}

.woocommerce-checkout-review-order-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

}

.checkout-wizard-container {
    padding: 4vw 4vw 0;
    height: 100%;
}

p.hidden {
    display: none;
}

.woocommerce ul#shipping_method {
    padding: 20px;
}

.woocommerce form .woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row {
    margin: 0 0 10px;
    position: relative;
}

span.preholder {
    position: absolute;
    top: 0px;
    font-size: 10px;
    right: 5px;
    display: none;
    padding: 3px;
}

@media screen and (min-width: 1920px) {
    .checkout-wizard-container, .checkout-cart-container {
        padding: 6vw;
    }
}

h2.order-totals {
    font-weight: bold;
    font-size: 20px;
}

.woocommerce.cart-collaterals {
    border: 0;
    text-align: center;
}

.checkout-review-summary {
    overflow-y: scroll;
    direction: ltr;
}

img.attachment-woocommerce_thumbnail {
    width: 100px;
    height: auto;
}

.checkout-summary-cart-item {
    display: flex;
    margin: 20px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 10px;
    position: relative;
}

.woocommerce a.remove
{
    display: none;
}

.checkout-button-wrapper {
    text-align: left;
    margin-top: 40px;
}

.checkout-summary-cart-item span.woocommerce-Price-amount
{
    position: absolute;
    left: 0;
    bottom: 7px;
    font-weight: 600;
    font-size: 17px;
}
.checkout-summary-cart-item .product-total {
    font-weight: 100;
    padding-right: 10px;
    margin-top: 0;
    line-height: 16px;
    font-size: 19px;
}
.checkout-summary-cart-item .product-quantity
{
    position: absolute;
    bottom: 9px;
    right: 110px;
    direction: ltr;
    font-weight: 100;
}

.nav-tabs .nav-item, .nav-tabs .nav-item:hover {
    flex: 1;
    border: 0;
    font-weight: 100;
    font-size: 17px;
    border-radius: 0;
    border-top: 7px solid #efdde3;
}
.nav-tabs .nav-item.active {
    font-weight: bold;
    border-top: 7px solid #efdde3;
}

.nav-tabs .nav-item.active ~ .nav-item {
    border-top: 7px solid #f6f6f6;
}
.nav.nav-tabs {
    border: 0;
}
.tab-content {
    padding: 40px;
}

h2.wizard-title {
    background-color: #efdde3;
    font-size: 18px;
    padding: 5px 10px;
}
form.checkout_coupon.woocommerce-form-coupon {
    display: block !important;
    padding: 0;
    border: 0;
}
.woocommerce-form-coupon-toggle {
    display: none;
}

span.woocommerce-input-wrapper input,
span.woocommerce-input-wrapper textarea,
span.woocommerce-input-wrapper select
{
    border: 1px solid black;
    font-weight: 100;
    padding: 5px 15px;
    font-size: 17px;
}
input#coupon_code, .coupon-input span.points {
    font-size: 17px;
}
.hidden-order-review {
    display: none;
    visibility: hidden;
}
.wc_payment_methods {
    display: none;
}
.tab-pane:not(.active) {
    display: none;
}
.coupon-input
{
    display: inline-block;
    border: 1px solid black;
    text-align: left;
    margin-left: 20px;
}
.coupon-input button {
    border: 0;
}
.checkout-points {
    border-top: 1px solid #919191;
    padding-top: 25px;
    margin-top: 35px;
}
.coupon-input span.points, .coupon-input input {
    width: 250px;
    display: inline-block;
}
.coupon-input span.points {
    text-align: center;

}
.coupon-input button{
    cursor: pointer !important;
}
.coupon-input .tony-button.pink {
    border: 0 !important;
    border-right: 1px solid black !important;
}
div.points-collected
{
    font-size: 18px;
    font-weight: 100;
}

/** Override the mess **/
#add_payment_method .cart-collaterals .cart_totals table th, .woocommerce-cart .cart-collaterals .cart_totals table th, .woocommerce-checkout .cart-collaterals .cart_totals table th {
    width: auto !important;
}
form.checkout.woocommerce-checkout {
    margin: 0;
}

.form-row input.input-text, .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
}
.woocommerce-NoticeGroup-checkout {
    display: none;
}

.auth {
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.auth .login {
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid black;
    text-align: center;
    position: relative;
}
.auth .login h1 {
    font-size: 24px;
}

.auth .login a {
    font-weight: 100;
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .auth .login {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 20px;
        border: 0;
    }
}

@media screen and (max-width: 678px) {
    .checkout-wizard-container {
        height: auto !important;
        padding-bottom: 40px;
    }
}

a.button-social-login-facebook {
    background-image: url('../images/fb.jpg') !important;
    width: 270px;
    text-indent: -99999px;
}

a.button-social-login-facebook span {
    display: none !important;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none !important;
}
input[type="checkbox"] + span:before, input[type="radio"] + span:before {
    font: 12pt FontAwesome;
    content: '\00f1db';
    display: inline-block;
    width: 16pt;
    padding: 3px 4px 3px 18px;
    margin-left: 0.5em;
    border: 1px solid #000;
}
input[type="checkbox"]:checked + span:before, input[type="radio"]:checked + span:before {
    content: '\00f111';
}
span.optional {
    display: none;
}
.wizard-item-content {
    display: none;
}

.tnx-section {
    margin-top: 58px;
}

.blocks img.wp-post-image {
    display: none;
}

.bg-image .container, .bg-image .bg-container h1.bold {
    text-align: center;
}

.bg-image .bg-container h1.bold {
    color: #e6a4c2;
    width: 400px;
    margin: 0;
    font-weight: 300;
}

.tnx-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-top: 40px;
    padding-bottom: 15px;
}

.tnx-title div, .tnx-title div span {
    font-size: 33px;
    font-weight: 100;
}

.tnx-text {
    text-align: center;
    font-size: 22px;
    margin-top: 22px;
    padding: 0 110px;
    /*
            width: 440px;
            margin: 21px auto;
    */
}
.order-container.orders{
    border-top: 1px solid #f6eff0;
    width: 1060px;
    margin: 20px auto 0;
}
.order-container.delivery{
    border-top: 1px solid #f6eff0;
    width: 1060px;
    margin: 38px auto 0;
}
.order-container.summary-total{
    height: 155px;
    background: #f6eff0;
    margin: 58px;
    width: 1060px;
    margin: 57px auto 0;
}
.order-container.summary-total .tnx-section{
    margin-top: 0;
}
.tnx-text h1, .tnx-text h1 span {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.tnx-text p {
    margin-bottom: 21px;
}

h1.tnx-order-title {
    font-size: 17px;
    margin-left: -12px;
    font-weight: bold;
}
.tnx-section .shipping-labels .tnx-shipping-item{
    font-weight: bold;
}
.tnx-order-num {
    line-height: 21px;
}
.tnx-order-num span{
    font-size: 26px;

}
.tnx-text p span{
    text-transform: uppercase;
}
.tnx-order {
    margin-top: 36px;
    padding: 0 26px;
}
.tnx-item {
    display: flex;
    margin: 20px 0;
}

.tnx-item:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 5px;

}

.tnx-item img.wp-post-image {
    width: 85px;
    margin-left: 65px;
}
.blocks{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.blocks .product-order-details a{
    letter-spacing: 0.5px;
}
.blocks .product-order-details div{
    letter-spacing: 0.8px;
}
.blocks .order-price{
    color: #990000;
    padding-right: 4px;
}
.blocks .order-regular-price{
    text-decoration: line-through;
}
.blocks strong, .blocks span.amount {
    display: block;
    font-weight: 800;
}
.blocks .order-quantity{
    display: inline;
}


.tnx-total-item {
    margin-bottom: 5px;
}
.tnx-section-contact{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 82px 0 130px 0;
}
.tnx-section-orders-questions, .tnx-section-orders-exchange{
    text-align: center;
    padding: 20px;
}

.tnx-section .tnx-section-right .orders-padding{
    padding-top: 31px;
}
.tnx-section .tnx-shipping-item{
    padding-bottom: 5px;
}
.blocks .woocommerce-product-gallery__image {
    display: none;
}

.tnx-section-contact p{
    font-size: 17px;
    text-decoration: underline;
}
.tnx-section-contact-bottom .col-md-2 div{
    margin-top: 20px;
    font-size: 25px;
}
.tnx-section-contact-email{
    margin-bottom: 7px;
}
.tnx-section-contact-top{
    margin-bottom: 40px;
}
.tnx-section .order-details-summary{
    text-align: center;
    padding: 22px 0 0 0;
}
.tnx-section .order-details-summary p{
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 24px;
}
.tnx-section .order-details-summary .order-details-summary-total{
    font-size: 18px;
    font-weight: bold;
}

span.success {
    color: #00d084;
    margin-top: 20px;
    display: none;
}
#joinUsModal h1
{
    direction: ltr;
    text-align: center;
    font-size: 60px;
}
#joinUsModal h2
{
    text-align: center;
    font-size: 19px;
    margin: 15px;
}
#joinUsModal p {
    font-size: 17px;
    font-weight: 100;
    margin: auto;
    text-align: center;
}

#joinUsModal button.close {
    text-align: right;
    padding-right: 0;
    font-size: 36px;
    top: 10px;
    right: 10px;
}

#joinUsModal button.close span {
    font-size: 45px;
}

#joinUsModal .tony-button
{
    margin: 30px;
    display: inline-block;
    padding: 5px 65px;
}

#joinUsModal .modal-dialog
{
    top: 110px;
    border-radius: 0;
    max-width: 500px;
}

#joinUsModal .modal-content {
    border-radius: 0;
    border: 2px solid black;
}

select {
    border: 1px solid black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 3px 5px 0 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url(/wp-content/themes/getraffic/assets/images/arrow-down-copy-3.png);
    background-repeat: no-repeat;
    background-position: 10px;
}
a.no-thanks {
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
}

a.no-thanks:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px){

    .order-container.summary-total, .order-container.orders, .order-container.delivery {
        width: auto;
    }
    .tnx-section-contact{
        padding: 0;
    }
    .tnx-text {
        padding: initial;
    }


    .tnx-section-contact-bottom .col-md-2 div{
        font-size: 4vw;
    }
    .tnx-section-contact{
        margin: 10vw 0;
    }
    .tnx-section-contact-top h1{
        font-size: 6vw;
    }
}
@media screen and (max-width: 480px){
    .blocks {
        display: block;
    }
}
