.login-popup
{
    position: absolute;
    background: white;
    padding: 15px 10px;
    left: 0;
    border-top: 2px solid black;
    z-index: 234;
    width: 215px;
    display: none;
	box-shadow: 4px 4px 10px #ccc;
}

.login-popup input {
    width: 100%;
    border: 1px solid black;
    color: #000;
    font-weight: 100;
    margin: 0 0 12px 0;
    padding: 3px 9px 0 0;
    font-size: 18px;
}

.login-popup a.login-popup-btn
{
    display: block;
    margin: 0 0 10px 0;
}

a.forgot-pass {
    text-align: right;
    text-decoration: underline;
    font-weight: 100;
	display: block;
	font-size: 16px;
}

.login-error {
    color: #ff5658;
}

.login-success {
    color: #378d3b;
}