.category-filters, .category-controls {
    display: flex;
    flex-wrap: wrap;
}

.archive-filter ul.visible, .price_slider_wrapper.visible {
    display: flex !important;
}

.control.filter, select.orderby {
    min-width: 160px;
    border: 1px solid #000;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    cursor: pointer;
    background-color: #f8f8f8;
}

.gt-orderby .submitFilter {
    display: none;
}

form.woocommerce-ordering {
    display: none;
}

select.orderby {
    background-image: url('../images/drop.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    margin-left: 20px;
    padding-left: 20px;
    background-size: 20px;
}

.archive-filter {
    margin: 0 20px;
    position: relative;
}

.archive-filter h2 {
    font-size: 18px;
    font-weight: 700;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 35px 10px 45px;
    background-image: url('../images/drop.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px center;
    cursor: pointer;
    background-size: 20px;
}

.archive-filter ul, .price_slider_wrapper {
    position: absolute;
    list-style-type: none;
    padding: 0;
    flex-flow: row wrap;
    top: 41px;
    width: 100%;
    z-index: 4;
    background-color: white;
    -webkit-box-shadow: -5px 10px 10px -1px rgba(212, 212, 212, 0.73);
    -moz-box-shadow: -5px 10px 10px -1px rgba(212, 212, 212, 0.73);
    box-shadow: -5px 10px 10px -1px rgba(212, 212, 212, 0.73);
    display: none;
}

.price_slider_wrapper {
    width: 200px;
    border-top: 1px solid #ebebeb;
    padding: 15px 15px 60px 15px;
}

.price_slider_wrapper button {
    position: absolute;
    width: calc(100% - 30px);
    border: 0;
    background-color: black;
    color: white;
    display: inline-block;
    right: 15px;
    bottom: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
    border: 1px solid #000000;
    background: #000000;
    width: 10px;
    height: 10px;
    border-radius: 8px;
}

.ui-slider-horizontal {
    height: 2px;
    margin: 8px 0;
}

.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
    background-color: black;
    border: 1px solid black;
}

.archive-filter ul li {
    list-style-type: none;
    font-weight: 100;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

a.layered-image img {
    width: 100%;
}

.archive-filter ul li span {
    display: none;
}

.archive-filter ul li.chosen {
    background-color: #e1e1e1;
}

.archive-filter ul li span.count {
    font-size: 14px;
}

.category-topbar {
    width: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    padding-top: 40px;
}


p.woocommerce-result-count {
    display: none;
    margin: 0;
}

.products {
    padding-top: 20px;
}

.filter-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    margin-left: auto;
}

.filter-tag {
    background-color: #f6eff0;
    border-radius: 3px;
    margin: 5px 0 0 15px;
    padding: 5px 15px;
}

.filter-tag a {
    margin-right: 40px;
}

.category-filter-mobile, .category-sort-mobile {
    display: none;
}

.category-filter-mobile {
    margin: 0;
}

.category-filter-mobile span.filter {
    display: none;
}

.mobile-filter-container, .mobile-sort-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #FFF;
    padding-bottom: 40px;
    z-index: 11;
    display: none;
}

.mobile-filter-container .price_slider_wrapper {
    display: block;
    width: 100%;
    position: static;
}
.mobile-filter-container .price_slider_wrapper .price_label {
    text-indent: -99999999px;
}
.mobile-filter-container .price_slider_wrapper .price_label span {
    text-indent: 0;
    position: absolute;
    font-size: 20px;
    padding-top: 10px;
}
.mobile-filter-container .ui-slider-horizontal .ui-slider-handle {
    border: 1px solid #000000;
    background: #000000;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    top: -9px;
}
.mobile-filter-container .price_slider_wrapper .price_label span.from {
    left: 5px;
}
.mobile-filter-container .price_slider_wrapper .price_label span.to {
    right: 5px;
}
.mobile-filter-title
{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    background: #f3f3f3;
}

.mobile-filter-title a.back
{
    left: 10px;
    position: absolute;
}

.mobile-filter-close
{
    text-align: center;
    font-size: 20px;
    background: #e9e1df;
    padding: 10px;
    cursor: pointer;
}

.mobile-filter-close a.close-filter img {
    width: 20px;
}

.mobile-filter-options .archive-filter {
    margin: 0;
}

.mobile-filter-options .archive-filter h2 {
    border-top: 1px solid #f3f3f3;
    border-bottom: 0;
    background-image: url(../images/filter-right.png);
    background-position: 98% center;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 20px;
}

.mobile-filter-options .archive-filter.active h2 {
    background-image: url(../images/filter-open.png);
}

.mobile-filter-options .archive-filter.active ul {
    display: flex;
    position: static;
    box-shadow: none;
    justify-content: center;
}

.price-filter-amounts {
    direction: ltr;
    display: inline-block;
    font-size: 14px;
}

.desktop-filtering {
    display: flex;
}

@media screen and (max-width: 768px) {
    .category-filter-mobile {
        margin-right: 20px;
        flex: 1;
    }

    .category-order-by {
        display: none;
    }

    .category-filter-mobile, .category-sort-mobile, .category-filter-mobile span.filter, .category-sort-mobile span.filter {
        display: block;
    }

    .category-filters {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding: 20px 0;
        display: none;
    }

    .category-filter-mobile span.filter {
        min-width: 160px;
        border: 1px solid #000;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        background-color: #f8f8f8;
        background-image: url('../images/filter.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        cursor: pointer;
        padding: 8px 10px;
        background-size: 40px;
    }

    nav.woocommerce-breadcrumb, .category-topbar {
        position: relative;
        margin: 0;
    }

    select.orderby {
        width: 100%;
        margin: 0;
    }

    .category-controls {
        display: block;
    }

    .control.filter {
        margin-bottom: 10px;
    }

    .category-filters {
        flex-wrap: wrap;
    }
}
