.search-popup-wrap {
    display: none;
    position: absolute;
    top: 170px;
    width: 100%;
    z-index: 10;
}

.search-popup-wrap .search-popup {
    width: 48%;
    background-color: #f7f7f7;
    margin: auto;
    position:relative;
    background-image: url('../images/border-c.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 102%;
}
.search-popup-wrap .search-popup .search-input {
    width: 100%;
    float: none;
    margin: 0;
    height: 118px;
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
    padding: 25px 55px;
}
#seacrhTerm {
    width: 100%;
    height: 53px;
    border: none;
    background-color: #ebebeb;
    padding-right: 20px;
    padding-left: 10%;
    background-repeat: no-repeat;
    background-position: 3% 50%;
    background-image: url(../images/search-icon.png);
}
.search-popup-wrap ::-webkit-input-placeholder { /* Edge */
    background-color: #ebebeb;
}
.search-popup-wrap ::-ms-input-placeholder { /* IE 10-11 */
    background-color: #ebebeb;
}
.search-popup-wrap ::-ms-input-placeholder {
    background-color: #ebebeb;
}
.search-popup-wrap ::placeholder {
    background-color: #ebebeb;
    padding-right:5px;
}
.search-popup .results-popup-wrapper {
    background-color: #f7f7f7;
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    padding: 3% 0;
}
.search-popup .results-popup {
    height: 100%;
    overflow: auto;
    direction: ltr;
    margin: 0 25px;
}
.search-popup .results-popup .result-item {
    padding-bottom: 10px;
    margin: 10px 30px;
    border-bottom: 1px solid #000;
}
.search-popup .results-popup .result-item .rprice {
    text-decoration-line: line-through;
    font-weight: 600;
    margin: 0 10px;
}
.search-popup .results-popup .result-item .sprice {
    color: #990000;
}
.search-popup .results-popup .no-results {
    text-align: center;
}
.search-popup .results-popup .result-item .pimage {
    margin-left: 8%;
}
.search-popup .results-popup .result-item img {
    width: 90px;
    height: 90px;
}
.search-popup-wrap ::-webkit-scrollbar {
    width: 3px;
}
.search-popup-wrap ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 25px;
}
.x-wrapper {
    position: absolute;
    cursor: pointer;
    top: 50px;
    right: 5px;
    transform: translate(0%, -41%);
}
.x-wrapper .ws-x-btn {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 52px;
    transform: rotate(45deg);
}
.x-wrapper .ws-x-btn::before,
.x-wrapper .ws-x-btn::after {
    content: "";
    position: absolute;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.x-wrapper .ws-x-btn::before {
    width: 28px;
    height: 1px;
}
.x-wrapper .ws-x-btn::after {
    width: 1px;
    height: 28px;
}

@media screen and (max-width: 768px) {
    .search-popup-wrap .search-popup {
        width: 100%;
        padding-top: 5px;
    }

    .search-popup-wrap .search-popup .search-input {
        display: none;
    }

    .x-wrapper {
        left:0;
		right:unset;
    }

    .search-popup-wrap
    {
        top: 152px;
    }
    .result-item span {
        align-self: center;
        padding: 2%;
    }

    .result-item a {
        display: flex;
        flex-direction: row;
    }
}