div.overlay {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}
ul.slides {
    width: 100%;
    padding: 0;

}
ul.slides li {
    list-style-type: none;
}
ul.slides li img.bg {
    width: 100%;
    height: auto;
}

ul.slides li img.bg-mobile {
    width: 100%;
    height: auto;
    display: none;
}

ul.slides li {
    list-style: none;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

ul.slides .slides li .overlay {
    position: absolute;
    top: 160px;
    width: 100%;
    text-align: center;
}

ul.slides .slides li .overlay h2 {
    font-family: 'Varela Round';
    color: #ffffff;
    font-size: 48px;
    margin: 30px;
}

ul.slides .slides li .overlay a {
    background-color: #33b6d2;
    padding: 7px 12px;
    color: #FFF;
    font-weight: 100;
    border-radius: 109px;
}
ul.slides .slides li img.bg {
    width: 100%;
}
div.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div.bg-container {
    display: inline-block;
    margin: 40px 0;
    color: white;
}
div.bg-container h1 {
    direction: ltr;
    font-size: 60px;
}
div.bg-container span.bold-text p
{
    line-height: 30px;
    color: white;
    display: block;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    div.bg-image {
        display: none;
    }

    ul.slides li img.bg {
        display: none;
    }

    ul.slides li img.bg-mobile {
        display: block;
    }
}
