.fixed{
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #fff;
    height: 80px;
    top: 0;
}
.fixed .topicons-right, .fixed .top-stripe, .fixed .topicon span.topicon-text, .fixed .topicons-left .login .logout-link{
    display: none;
}
.fixed .topicons-left{
    right: 0;
    z-index: 1;
    margin-top: 30px;
    width: 230px;
}
.fixed .topicons-left .topicon{
    margin-top: 0;
    margin-right: 40px;
}
.fixed a#logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    line-height: 80px;
    margin: 0;
    padding: 0;
}
.fixed .menubar{
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin-top: 0;
}
.fixed .menubar ul.nav li a{
    padding-bottom: 25px;
    padding-top: 0;
}
.fixed .menubar ul.sub-menu{
    margin-top: 0;
}
.fixed .mini-cart-wrapper {
    left: auto;
    right: 0;
}

.buffer {
    margin-top: 220px;
}

@media screen and (max-width: 786px) {
    .fixed {
        display: none !important;
    }
}
