.topbar-group {
    display: flex;
}

.topicon.wishlisticon {
    position: relative;
}
.wishlist-count {
    position: absolute;
    top: 5px;
    width: 25px;
    text-align: center;
    display: block;
    left: 16px;
}
.topicon {
    float: right;
    margin-top: 20px;
    text-align: center;
    margin-left: 35px;
}
span.topicon-text {
    display: block;
    color: #000;
    font-size: 14px;
}

.search-input {
    float: right;
    margin-top: 18px;
	margin-right: 20px;
 margin-left: 20px;
	overflow: hidden;
    width: 0;
}

#seacrhTerm {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
}

@media screen and (min-width: 768px) {
    .toptop {
        position: fixed !important;
        z-index: 1770;
    }
}

.topicons-container {
    position: relative;
}
.topicons-container a#logo
{
    float: none;
    overflow: hidden;
    display: inline-block;
}
.topicons-container a#logo img
{

}
.topicons-left {
    position: absolute;
    left: 0;
    top: 0;
}

.topicons-right {
    position: absolute;
    right: 0;
    top: 0;
}

.wishlisticon span{
	font-size: 13px;
}
a#logo {
    float: right;
    padding: 10px 0;
}
